@font-face {
    font-family: BadScript-Regular; 
    src: url(../fonts/BadScript-Regular.ttf); 
   }


/*
 ===========================================
 Стиль админки
 ===========================================
 */

/* Прелодер */
#page-preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    background-color: white;
}
/* Прелодер картинка */
#page-preloader .spinner {
    position: absolute;
    background: url(../img/loader.gif) no-repeat;
    background-size: ;
    background-position: center center;
    width: 100%;
    height: 100%;
}

/* Текст в верхнем индексе */
span.raise {
    vertical-align: super;
}

/* Текст прописными буквами */
span.upper {
    text-transform: uppercase;
}

/* Другой шрифт */
span.font-BadScript {
    font-family:BadScript-Regular;
}

/* Текст поздравления */
.birthday-text {
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    font-size: 1.9em;
}

/* Отступы иконок */
/*
.fa{
    padding-right: 0.5rem !important;

}*/

.btn-transparent {
    background-color: transparent;
}

/* Фото профиля */
.user-avatar-mainscreen {
    width: 100%;
    border-radius: 5%;
}

/* Свой скроллбар */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background: #888; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

/*
 ===========================================
 Стили полей ввода
 ===========================================
 */

.input-group-prepend {
    width : 20%; /*adjust as needed*/
}

.input-group-prepend .input-group-text {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    text-align: right;
}


/*
 ===========================================
 Футер
 ===========================================
 */

.copyleft {
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -khtml-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
    display: inline-block;
}

/*
 ===========================================
 Сообщения на экране
 ===========================================
 */

#message {
    position: fixed;
    z-index: 9999;
    cursor: pointer;
    border: 0;
    text-decoration: none;
    transition: opacity 0.2s ease-out, visibility 0.2s ease-out;
    opacity: 0;
    border-radius: 0;
    color: #ffffff !important;
    cursor: pointer;
    display: inline-block;
    font-size: 0.8em;
    height: 4.6em;
    letter-spacing: 0.35em;
    line-height: 4.5em;
    text-align: center;
    text-transform: uppercase;
    display: block;
    margin: 0;
    width: 100%;
    visibility: hidden;
    bottom:0;
}

#message.show {
    opacity:1;
    visibility:visible;
}

.success {
    background-color: #9DDC19;
}

.fail {
    background-color: #e91b20;
}

/*
 ===========================================
 Новости в админке
 ===========================================
 */

.link-copy-overlay {
    background-color: black;
    opacity: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    transition: .5s ease;
}

.printable-overlay {
    background-color: black;
    opacity: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    transition: .5s ease;
}

.card-img-container:hover .printable-overlay {
  opacity: 0.75;
}

.card-img-container:hover .link-copy-overlay {
  opacity: 0.75;
}

.card-img-container {
  position: relative;
  width: 100%;
}

.link-copy-overlay > i {
    color:white;
}

.printable-overlay > i {
    color:white;
}

.image-card {
    transition: .5s ease;
}
