<!DOCTYPE html>
<html lang="ru">
  <head>
    <!-- Базовая настройка страницы
    ================================================== -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Внутренний сайт ГАСПИ КО и отдела ИПС</title>
    <meta name="description" content="Внутренний сайт ГАСПИ КО и отдела ИПС, на котором будут размещаться важные новости трудовых будней и документы архива">
    <meta name="keywords" content="ГАСПИ КО, ИПС, Внутренний сайт, Сайт отдела ИПС">
    <meta name="author" content="Бородавкин Антон Владимирович">

    <!-- Фавиконка
    ================================================== -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='work/img/favicon2.ico') }}" type="image/x-icon">

    <!-- Bootstrap -->
<!--
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='work/css/bootstrap.css') }}">
-->
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='admin/css/bootstrap-4/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='work/fonts/font-awesome/css/font-awesome.css') }}">

    <!-- Слайдер
    ================================================== -->
    <link href="{{ url_for('static', filename='work/css/owl.carousel.css') }}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename='work/css/owl.theme.css') }}" rel="stylesheet" media="screen">

    <!-- Стили
    ================================================== -->
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='work/css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='work/css/responsive.css') }}">

    <script type="text/javascript" src="{{ url_for('static', filename='work/js/modernizr.custom.js') }}"></script>

  </head>
  <body>
    <!-- Навигация
    ==========================================-->
    {# 
    <nav id="tf-menu" class="navbar navbar-default navbar-fixed-top">
      <div class="container">

        <!-- Контент для перключения, заголовок -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-left">
            <li><a class="navbar-brand" href="{{ url_for('index') }}">КОГБУ ГАСПИ КО</a></li>
            <li>
                <a class="page-scroll login-as">
                {% if login_as %}
                    Вы вошли как: <span class="active">{{ login_as.name }}, {{ login_as.role.name }}</span>
                        {% if login_as.photo %}
                        <img src="{{ url_for('static', filename='admin/upload/users/'+login_as.photo) }}" alt="..." class="img-circle nav-img">
                        {% else %}
                        <img src="{{ url_for('static', filename='admin/img/anonymous.png') }}" alt="..." class="img-circle nav-img-white">
                        {% endif %}
                {% else %}
                    Вы гость
                    <img src="{{ url_for('static', filename='admin/img/anonymous.png') }}" alt="..." class="img-circle nav-img-white">
                {% endif %}
                </a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#tf-home" class="page-scroll">Главная</a></li>
            <li><a href="#tf-about" class="page-scroll">О нас</a></li>
            <li><a href="#tf-team" class="page-scroll">Сотрудники</a></li>
            <li><a href="#tf-services" class="page-scroll">Ресурсы</a></li>
            <li><a href="#tf-works" class="page-scroll {% if fresh_news %}back-pulse{% endif %}">Новости {% if fresh_news %}<i class="fa fa-exclamation" aria-hidden="true"></i>{% endif %}</a></li>
            <li><a href="{{url_for('admin.admin')}}" class="page-scroll">Войти</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>_ #}
    

    <nav id="tf-menu" class="navbar fixed-top navbar-expand-lg navbar-default">
        <a class="navbar-brand" href="{{ url_for('index') }}">КОГБУ "ГАСПИ КО"</a>

        <div class="collapse navbar-collapse" id="primary-nav">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                
                <li class="nav-item active">
                    <a class="">
                    {% if login_as %}
                        Вы вошли как: <span class="active">{{ login_as.name }} ({{ login_as.role.name }})</span>
                            {% if login_as.photo %}
                            <img src="{{ url_for('static', filename='admin/upload/users/'+login_as.photo) }}" alt="..." class="rounded-circle nav-img">
                            {% else %}
                            <img src="{{ url_for('static', filename='admin/img/anonymous.png') }}" alt="..." class="rounded-circle nav-img-white">
                            {% endif %}
                    {% else %}
                        Вы гость
                        <img src="{{ url_for('static', filename='admin/img/anonymous.png') }}" alt="..." class="rounded-circle nav-img-white">
                    {% endif %}
                    </a>
                </li>

            </ul>

            <ul class="navbar-nav mr-sm mt-2 mt-lg-0">
                <li class="nav-item "><a href="#tf-home" class="page-scroll nav-link">Главная</a></li>
                <li class="nav-item "><a href="#tf-about" class="page-scroll nav-link">О нас</a></li>
                <li class="nav-item "><a href="#tf-team" class="page-scroll nav-link">Сотрудники</a></li>
                <li class="nav-item "><a href="#tf-services" class="page-scroll nav-link">Ресурсы</a></li>
                <li class="nav-item {% if fresh_news %}active{% endif %}"><a href="#tf-works" class="page-scroll nav-link {% if fresh_news %}back-pulse{% endif %}">Новости {% if fresh_news %}<i class="fa fa-exclamation" aria-hidden="true"></i>{% endif %}</a></li>
                <li class="nav-item "><a href="{{url_for('admin.admin')}}" class=" nav-link">Войти</a></li>
            </ul>
            
        </div>

    </nav>
    
    

    <!-- Заглавная вкладка
    ==========================================-->
    <div id="tf-home" class="text-center">
        <div class="overlay">
            <div class="content">
                <h1>Добро пожаловать на <strong><span class="active">Внутренний сайт</span></strong></h1>
                <p class="lead">КОГБУ <strong>ГАСПИ КО</strong> и отдела <strong>ИПС</strong></p>
                <p class="intro">На сайте будут размещаться новости отделов, сообщения о событиях внутри и вне архива, а также различная информация о работе отдела ИПС</p>
                <a title="К новостям" href="#tf-works" class="fa fa-angle-down page-scroll"></a>
            </div>
        </div>
    </div>

    <!-- О нас
    ==========================================-->
    <div id="tf-about">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="{{ url_for('static', filename='work/img/02.jpg') }}" class="img-responsive">
                </div>
                <div class="col-md-6">
                    <div class="about-text">
                        <div class="section-title">
                            <h4>О нас</h4>
                            <h2>Несколько слов <strong>об архиве</strong></h2>
                            <hr>
                            <div class="clearfix"></div>
                        </div>
                        <div class="text" class="intro">
                            <p>Кировское областное государственное бюджетное учреждение «Государственный архив социально-политической истории Кировской области" (КОГКУ «ГАСПИ КО») создано как Областной партийный архив постановлением бюро Кировского обкома ВКП(б) от 8 октября 1938 г. С 1945 г. назывался – Партийный архив Кировского обкома ВКП(б).</p>
                            <p>На основании Указа Президента РФ и постановления Совета Министров РСФСР, распоряжением Главы администрации области (1991 г.) на базе партийного архива Кировского обкома КП РСФСР создан Областной центр документации новейшей истории. По распоряжению Администрации Кировской области (1992 г.) переименован в Центр документации новейшей истории Кировской области (ЦДНИ КО).</p>
                            <p>В связи с завершившейся интеграцией Центра в систему учреждений государственной архивной службы, а также со сложившейся его специализацией распоряжением Администрации Кировской области (2001 г.) переименован в Государственный архив социально-политической истории Кировской области (ГАСПИ КО), с 11 сентября 2006 года – Государственное областное учреждение «Государственный архив социально-политической истории Кировской области" (ГОУ "ГАСПИ КО"), а со 02 июня 2011 года - Кировское областное государственное казенное учреждение "Государственный архив социально-политической истории Кировской области" (КОГКУ "ГАСПИ КО"), с 09 января 2017 года - Кировское областное государственное бюджетное учреждение "Государственный архив социально-политической истории Кировской области" (КОГБУ "ГАСПИ КО").</p>
                            <p>С 01 июля 2015 года вышестоящая организация – министерство культуры Кировской области (постановление Правительства Кировской области от 24. 06. 2015 № 44/319).</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Сотрудники
    ==========================================-->
    <div id="tf-team" class="text-center">
        <div class="overlay">
            <div class="container">
                <div class="section-title center">
                    <h2>Представляем <strong>наших сотрудников</strong></h2>
                    <div class="line">
                        <hr>
                    </div>
                </div>


                <div id="team" class="owl-carousel owl-theme row">
                    {% for user in users_all|sort(attribute='surname') %}
                        {% if user.status %}
                        <div class="item">
                            <div class="thumbnail">
                                {% if user.photo %}
                                <img src="{{ url_for('static', filename='admin/upload/users/'+user.photo) }}" alt="..." class="img-circle rounded-circle team-img">
                                {% else %}
                                <img src="{{ url_for('static', filename='admin/img/anonymous.png') }}" alt="..." class="img-circle rounded-circle team-img">
                                {% endif %}

                                <div class="caption">
                                    <h3>{{ user.surname }} {{ user.name }} {{ user.patronymic }}</h3>
                                    <p>{{ user.department.name }}</p>
                                    <p>{{ user.post.name }}</p>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>


            </div>
        </div>
    </div>

    <!-- Список информационных систем
    ==========================================-->
    <div id="tf-services" class="text-center">
        <div class="container">
            <div class="section-title center">
                <h2>Наши <strong>ресурсы</strong></h2>
                <div class="line">
                    <hr>
                </div>
                <div class="clearfix"></div>
                <small><em>Информационные системы и их модули, разработанные отделом ИПС ГАСПИ КО</em></small>
            </div>
            <div class="space"></div>
            <div class="row">
                {% for module in modules_all %}
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 service">
                <a href="{{ request.url_root }}{{ module.url }}" class="a-main">
                    
                        <i class="fa fa-desktop"></i>
                        <h4><strong>{{ module.name }}</strong></h4>
                        {#
                        <p>{{ module.comment }}</p>
                        <p>{{ request.url_root }}{{ module.url }}</p>
                        #}
                    
                </a></div>
                {% endfor %}

                <div class="col-12 col-sm-6 col-md-4 col-lg-3 service">
                    <a href="http://afweb.gaspiko.a" class="a-main">
                        <i class="fa fa-desktop"></i>
                        <h4><strong>ИПС ЭНСА</strong></h4>
                    </a>
                </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg-3 service">
                    <a href="http://strah-fond.gaspiko.a" class="a-main">
                        <i class="fa fa-desktop"></i>
                        <h4><strong>Страховой фонд</strong></h4>
                    </a>
                </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg-3 service">
                    <a href="http://fotocatalog.gaspiko.a" class="a-main">
                        <i class="fa fa-desktop"></i>
                        <h4><strong>Фотокаталог</strong></h4>
                    </a>
                </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg-3 service">
                    <a href="http://akt.gaspiko.a" class="a-main">
                        <i class="fa fa-desktop"></i>
                        <h4><strong>Проверка наличия</strong></h4>
                    </a>
                </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg-3 service">
                    <a href="http://composition.a" class="a-main">
                        <i class="fa fa-desktop"></i>
                        <h4><strong>Личный состав</strong></h4>                
                    </a>
                </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg-3 service">
                    <a href="http://gaspiko.ru" class="a-main">
                        <i class="fa fa-desktop"></i>
                        <h4><strong>Сайт архива</strong></h4>
                    </a>
                </div>
                
            </div>
        </div>
    </div>

    <!-- Новости архива
    ==========================================-->
    <div id="tf-works">
        <div class="container"> <!-- Container -->
            <div class="section-title text-center center" style="background: rgba(0, 0, 0, 0.75);">
                <h2>Последние <strong>новости архива</strong></h2>
                <div class="line">
                    <hr>
                </div>
                <div class="clearfix"></div>
                <small><em>Последние новости</em></small>
            </div>
            <div class="space"></div>

            <div class="scroll">
                {% include "work/items.html" %}
                <a class="jscroll-next" href="{{ request.url }}/page/{{ page + 1 }}"></a>
            </div>

        </div>
    </div>


<!--
    <nav id="footer">
        <div class="container">
            <div class="pull-left fnav">
                <p>
                    ВСЕ ПРАВА ЗАЩИЩЕНЫ. <a href="https://ru.wikipedia.org/wiki/Копилефт">COPYLEFT <span class="copyleft">&copy;</span></a> 2017-
                    <script language="JavaScript" type="text/javascript">
                        now = new Date
                        theYear=now.getYear()
                        if (theYear < 1900)
                        theYear=theYear+1900
                        document.write(theYear)
                    </script>. 
                    Разработка <a href="https://vk.com/goomba41">Бородавкин Антон</a> 
                    <a href="mailto:anton.borodawkin@yandex.ru"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                    <a href="https://vk.com/goomba41"><i class="fa fa-vk" aria-hidden="true"></i></a>
                    <a href="https://github.com/Goomba41"><i class="fa fa-github" aria-hidden="true"></i></a>
                </p>
            </div>
        </div>
    </nav>
-->

    <nav class="navbar fixed-bottom navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="https://ru.wikipedia.org/wiki/Копилефт">COPYLEFT <span class="copyleft">&copy;</span></a>
        <div class="collapse navbar-collapse" id="footer-nav">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="#">
                    2017 -
                    <script language="JavaScript" type="text/javascript">
                        now = new Date
                        theYear=now.getYear()
                        if (theYear < 1900)
                        theYear=theYear+1900
                        document.write(theYear)
                    </script></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Разработка: Бородавкин Антон</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="mailto:anton.borodawkin@yandex.ru"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="https://vk.com/goomba41"><i class="fa fa-vk" aria-hidden="true"></i></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="https://github.com/Goomba41"><i class="fa fa-github" aria-hidden="true"></i></a>
                </li>
            </ul>
        </div>
    </nav>


    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='work/js/jquery.1.11.1.js') }}"></script>
    <!-- Подключение прочих плагинов -->
<!--
    <script type="text/javascript" src="{{ url_for('static', filename='work/js/bootstrap.js') }}"></script>
-->
    <script type="text/javascript" src="{{ url_for('static', filename='admin/js/bootstrap-4/bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='work/js/SmoothScroll.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='work/js/jquery.isotope.js') }}"></script>

    <script src="{{ url_for('static', filename='work/js/owl.carousel.js') }}"></script>

    <!-- Javascript
    ================================================== -->
    <script type="text/javascript" src="{{ url_for('static', filename='work/js/main.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='work/js/jquery.jscroll.js') }}"></script>
    <script>$('.scroll').jscroll({
    nextSelector: 'a.jscroll-next',
    padding: 100,
    });
    </script>
  </body>
</html>
