{% if news_all %}
        {% for news in news_all %}
        <div class="col-sm-6 col-md-3 col-lg-3 photography app">
            <div class="portfolio-item" {% if news.id|string not in news_visited %}style="    box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px inset, rgb(0, 248, 19) 0px 0px 8px; border: solid 2px rgb(4, 255, 0);"{% endif %}>
                <div class="hover-bg">
                    <a href="{{ url_for('news', id=news.id) }}">
                        <div class="hover-text">
                            <h4>{{ news.header }}</h4>
                            <p>{{ news.cdate }}</p>
                            <div class="clearfix"></div>
                            <i class="fa fa-plus"></i>
                        </div>
                        {% if news.images %}
                            {% for image in news.images %}
                                {% if  image.as_cover%}
                                    <img  src="{{  image.filename|thumbnail('260x260', crop='fit', quality=100) }}" style ="max-width:none; height:100%" class="img-responsive" alt="{{ news.header }}">
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
        <br style="clear:both"/>
        <a style ="margin-top:700px;" class="jscroll-next" href="/page/{{ page + 1 }}"></a>
{% else %}
        <br style="clear:both"/>
        <p class="alert alert-danger" style="text-align: center; font-size: 2em;">
            Вы достигли конца списка
        </p>
{% endif %}
