<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Внутренний сайт ГАСПИ КО и отдела ИПС</title>
    <meta name="description" content="Внутренний сайт ГАСПИ КО и отдела ИПС, на котором будут размещаться важные новости трудовых будней и документы архива">
    <meta name="keywords" content="ГАСПИ КО, ИПС, Внутренний сайт, Сайт отдела ИПС">
    <meta name="author" content="Бородавкин Антон Владимирович">

    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='work/img/favicon.ico') }}" type="image/x-icon">

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='work/css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='work/fonts/font-awesome/css/font-awesome.css') }}">

    <!-- Slider
    ================================================== -->
    <link href="{{ url_for('static', filename='work/css/owl.carousel.css') }}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename='work/css/owl.theme.css') }}" rel="stylesheet" media="screen">

    <!-- Stylesheet
    ================================================== -->
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='work/css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='work/css/responsive.css') }}">

    <link href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet'>

    <script type="text/javascript" src="{{ url_for('static', filename='work/js/modernizr.custom.js') }}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- Navigation
    ==========================================-->
    <nav id="tf-menu" class="navbar navbar-default navbar-fixed-top" style="padding:0;background-color: rgba(0, 0, 0, 1);">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Переключить навигацию</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('index') }}">КОГБУ ГАСПИ КО</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/" class="page-scroll">Главная</a></li>
            <li><a href="{{url_for('admin.admin')}}" class="page-scroll">Войти</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <br style="clear:both;"/>

    <!-- About Us Page
    ==========================================-->
    <div id="tf-home" class="text-center" style="background:url({{ url_for('static', filename='work/uploads/'+news.cover) }}); color:#000000;background-repeat: no-repeat;background-size: cover;">
        <div class="overlay" style="background:0; height:100%;">
            <div class="content" style="padding:6% 0 0; width:70%; margin:auto; background: white; border-radius:20px; margin-bottom: 5%; box-shadow: 0 0 50px 20px rgb(0, 0, 0);">
                <h1><strong>{{ news.header }}</strong></h1>
                <p style="font-size: 1.4em;"><span class="color">Автор: {{ news.user.name }} {{ news.user.surname }}, {{ news.user.post.name }} {{ news.user.department.name }}<br/>{{ news.cdate }}</span>{% if session['logged_in'] %}<a class = "edit" href="{{url_for('admin.edit_news', id = news.id)}}"><i class="fa fa-pencil" style="padding-left: 15px;" aria-hidden="true"></i></a>{% endif %}</p>
                <div style="padding: 10%; text-align: justify; font-family: 'Open Sans';" class="intro">{{ news.text|safe }}</div>
            </div>
        </div>
    </div>


    <nav id="footer">
        <div class="container">
            <div class="pull-left fnav">
                <p>ВСЕ ПРАВА ЗАЩИЩЕНЫ. COPYRIGHT © 2017. Разработка <a href="https://vk.com/goomba41">Бородавкин Антон</a></p>
            </div>
        </div>
    </nav>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='work/js/jquery.1.11.1.js') }}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="{{ url_for('static', filename='work/js/bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='work/js/SmoothScroll.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='work/js/jquery.isotope.js') }}"></script>

    <script src="{{ url_for('static', filename='work/js/owl.carousel.js') }}"></script>

    <!-- Javascripts
    ================================================== -->

  </body>
</html>
