<!DOCTYPE html>
<html lang="ru">
  <head>
    <!-- Базовая настройка страницы
    ================================================== -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Внутренний сайт ГАСПИ КО и отдела ИПС</title>
    <meta name="description" content="Внутренний сайт ГАСПИ КО и отдела ИПС, на котором будут размещаться важные новости трудовых будней и документы архива">
    <meta name="keywords" content="ГАСПИ КО, ИПС, Внутренний сайт, Сайт отдела ИПС">
    <meta name="author" content=" {{ news.user.name }} {{ news.user.surname }}">

    <!-- Фавиконка
    ================================================== -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='work/img/favicon2.ico') }}" type="image/x-icon">

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='admin/css/bootstrap-4/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='work/fonts/font-awesome/css/font-awesome.css') }}">

    <!-- Слайдер
    ================================================== -->
    <link href="{{ url_for('static', filename='work/css/owl.carousel.css') }}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename='work/css/owl.theme.css') }}" rel="stylesheet" media="screen">

    <!-- Стили
    ================================================== -->
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='work/css/newspage-style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='work/css/responsive.css') }}">

    <link href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet'>

    <script type="text/javascript" src="{{ url_for('static', filename='work/js/modernizr.custom.js') }}"></script>

  </head>
  <body>
    <!-- Навигация
    ==========================================-->{# 
    <nav id="tf-menu" class="navbar navbar-default navbar-fixed-top" style="padding:0;background-color: rgba(0, 0, 0, 1);">
      <div class="container">
        <!-- Брэнд и переключатель на мобильных устройствах -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Переключить навигацию</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>


        <!-- Контент для перключения, заголовок -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
                <li><a class="navbar-brand" href="{{ url_for('index') }}">КОГБУ ГАСПИ КО</a></li>
                <li>
                    <a class="page-scroll login-as">
                    {% if login_as %}
                        Вы вошли как: <span class="active">{{ login_as.name }}, {{ login_as.role.name }}</span>
                            {% if login_as.photo %}
                            <img src="{{ url_for('static', filename='admin/upload/users/'+login_as.photo) }}" alt="..." class="img-circle nav-img">
                            {% else %}
                            <img src="{{ url_for('static', filename='admin/img/anonymous.png') }}" alt="..." class="img-circle nav-img-white">
                            {% endif %}
                    {% else %}
                        Вы гость
                        <img src="{{ url_for('static', filename='admin/img/anonymous.png') }}" alt="..." class="img-circle nav-img-white">
                    {% endif %}
                    </a>
                </li>
            </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/" class="page-scroll">Главная</a></li>
            <li><a href="/#tf-works" class="page-scroll">Новости</a></li>
            <li><a href="{{url_for('admin.admin')}}" class="page-scroll">Войти</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav> #}
{# _ 
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{{url_for('index')}}" title="КОГБУ 'ГАСПИ КО'">КОГБУ "ГАСПИ КО"</a>

            <div class="collapse navbar-collapse" id="primary-nav">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    
                    <li class="nav-item active">
                        {% if login_as %}
                            <a class="nav-link" href="#">Вы вошли как: <span class="active">{{ login_as.name }} ({{ login_as.role.name }})</span>
                                {% if login_as.photo %}
                                <img src="{{ url_for('static', filename='admin/upload/users/'+login_as.photo) }}" alt="..." class="rounded-circle nav-img">
                                {% else %}
                                <img src="{{ url_for('static', filename='admin/img/anonymous.png') }}" alt="..." class="rounded-circle nav-img-white">
                                {% endif %}</a> 
                        {% else %}
                            Вы гость
                            <img src="{{ url_for('static', filename='admin/img/anonymous.png') }}" alt="..." class="img-circle nav-img-white">
                        {% endif %}
                    </li>


                </ul>

                <ul class="navbar-nav mr-sm mt-2 mt-lg-0">
                    
                    <li class="nav-item active"><a class="nav-link" href="/">Главная</a></li>
                    <li class="nav-item active"><a class="nav-link" href="/#tf-works">Новости</a></li>
                    <li class="nav-item active"><a class="nav-link" href="{{url_for('admin.admin')}}">Войти</a></li>
                </ul>
                
            </div>

        </nav>#}

{# 
    <!-- Мэйн
    ==========================================-->
<!--
    <div id="tf-home" class="text-center" style="background:url({{ url_for('static', filename='work/uploads/') }}); color:#000000;background-repeat: no-repeat;background-size: cover;">
        <div class="overlay" style="background:0; height:100%;">
            <div class="content" style="padding:6% 0 0; width:70%; margin:auto; background: white; border-radius:20px; margin-bottom: 5%; box-shadow: 0 0 50px 20px rgb(0, 0, 0);">
                <h1><strong>{{ news.header }}</strong></h1>
                <p style="font-size: 1em;"><span class="color">Автор: {{ news.user.name }} {{ news.user.surname }}, {{ news.user.post.name }} <br/>{{ news.cdate }}</span>{% if session['logged_in'] %}<a class = "edit" href="{{url_for('admin.edit_news', id = news.id)}}"><i class="fa fa-pencil" style="padding-left: 15px;" aria-hidden="true"></i></a>{% endif %}</p>
                <div style="padding: 10%; text-align: justify; font-family: 'Open Sans';" class="intro">{{ news.text|safe }}</div>
            </div>
        </div>
    </div>
--> #}

<div class="container-fluid p-0 container-main-news"
                        {% if news.images %}
                            {% for image in news.images %}
                                {% if  image.as_cover%}
                                    style="background-image:url({{ url_for('static', filename=config['NEWS_IMAGES_FOLDER_URL']+image.filename) }}); "
                                {% endif %}
                            {% endfor %}
                        {% endif %}>
    <div class="row-fluid">
        
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{{url_for('index')}}" title="КОГБУ 'ГАСПИ КО'">КОГБУ "ГАСПИ КО"</a>

            <div class="collapse navbar-collapse" id="primary-nav">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    
                    <li class="nav-item active">
                        {% if login_as %}
                            <a class="nav-link" href="#">Вы вошли как: <span class="active">{{ login_as.name }} ({{ login_as.role.name }})</span>
                                {% if login_as.photo %}
                                <img src="{{ url_for('static', filename='admin/upload/users/'+login_as.photo) }}" alt="..." class="rounded-circle nav-img">
                                {% else %}
                                <img src="{{ url_for('static', filename='admin/img/anonymous.png') }}" alt="..." class="rounded-circle nav-img-white">
                                {% endif %}</a> 
                        {% else %}
                            Вы гость
                            <img src="{{ url_for('static', filename='admin/img/anonymous.png') }}" alt="..." class="img-circle nav-img-white">
                        {% endif %}
                    </li>


                </ul>

                <ul class="navbar-nav mr-sm mt-2 mt-lg-0">
                    
                    <li class="nav-item active"><a class="nav-link" href="/">Главная</a></li>
                    <li class="nav-item active"><a class="nav-link" href="/#tf-works">Новости</a></li>
                    <li class="nav-item active"><a class="nav-link" href="{{url_for('admin.admin')}}">Войти</a></li>
                </ul>
                
            </div>
        </nav>

        <div class="col-8 m-auto h-100 mh-100 p-3 text-col">
            
            <div class="row-fluid p-0 text-center">
                <h1 class="news-header"><strong>{{ news.header }}</strong></h1>
                <hr>
                <p class="sign">
                    {{ news.user.name }} {{ news.user.surname }}
                    {% if  news.user.photo %}
                    <img src="{{ url_for('static', filename='admin/upload/users/'+ news.user.photo) }}" alt="..." class="rounded-circle nav-img">
                    {% else %}
                    <img src="{{ url_for('static', filename='admin/img/anonymous.png') }}" alt="..." class="rounded-circle nav-img-white">
                    {% endif %}
                     | {{ news.user.post.name }} | 
                    {{ news.cdate|datetime('full') }}
                    {% if session['logged_in'] %}
                    <a class = "edit" href="{{url_for('admin.edit_news', id = news.id)}}"><i class="fa fa-pencil" style="padding-left: 15px;" aria-hidden="true"></i></a>
                    {% endif %}
                </p>
                <hr>
            </div>

            <div class="row-fluid p-5 text">
                {{ news.text|safe }}
            </div>
        </div>
            
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="https://ru.wikipedia.org/wiki/Копилефт">COPYLEFT <span class="copyleft">&copy;</span></a>
            <div class="collapse navbar-collapse" id="footer-nav">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">
                        2017 -
                        <script language="JavaScript" type="text/javascript">
                            now = new Date
                            theYear=now.getYear()
                            if (theYear < 1900)
                            theYear=theYear+1900
                            document.write(theYear)
                        </script></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Разработка: Бородавкин Антон</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="mailto:anton.borodawkin@yandex.ru"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="https://vk.com/goomba41"><i class="fa fa-vk" aria-hidden="true"></i></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="https://github.com/Goomba41"><i class="fa fa-github" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
        
    </div>
</div>
    
    {# 
    <div id="tf-news" class="text-center" 
                        {% if news.images %}
                            {% for image in news.images %}
                                {% if  image.as_cover%}
                                    style="background-image:url({{ url_for('static', filename=config['NEWS_IMAGES_FOLDER_URL']+image.filename) }}); "
                                {% endif %}
                            {% endfor %}
                        {% endif %}>
            <div class="news-content">
                <h1 class="news-header"><strong>{{ news.header }}</strong></h1>
                 <hr>
                <p class="sign">
                    {{ news.user.name }} {{ news.user.surname }}
                    {% if  news.user.photo %}
                    <img src="{{ url_for('static', filename='admin/upload/users/'+ news.user.photo) }}" alt="..." class="rounded-circle nav-img">
                    {% else %}
                    <img src="{{ url_for('static', filename='admin/img/anonymous.png') }}" alt="..." class="rounded-circle nav-img-white">
                    {% endif %}
                     | {{ news.user.post.name }} | 
                    {{ news.cdate|datetime('full') }}
                    {% if session['logged_in'] %}
                    <a class = "edit" href="{{url_for('admin.edit_news', id = news.id)}}"><i class="fa fa-pencil" style="padding-left: 15px;" aria-hidden="true"></i></a>
                    {% endif %}
                </p>
                <hr>
                <div class="text">{{ news.text|safe }}</div>
            </div>

    </div> #}
{# _ 
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="https://ru.wikipedia.org/wiki/Копилефт">COPYLEFT <span class="copyleft">&copy;</span></a>
        <div class="collapse navbar-collapse" id="footer-nav">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="#">
                    2017 -
                    <script language="JavaScript" type="text/javascript">
                        now = new Date
                        theYear=now.getYear()
                        if (theYear < 1900)
                        theYear=theYear+1900
                        document.write(theYear)
                    </script></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Разработка: Бородавкин Антон</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="mailto:anton.borodawkin@yandex.ru"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="https://vk.com/goomba41"><i class="fa fa-vk" aria-hidden="true"></i></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="https://github.com/Goomba41"><i class="fa fa-github" aria-hidden="true"></i></a>
                </li>
            </ul>
        </div>
    </nav>#}

{# 
<!--
        <nav id="footer">
        <div class="container">
            <div class="pull-left fnav">
                <p>
                    ВСЕ ПРАВА ЗАЩИЩЕНЫ.  <a href="https://ru.wikipedia.org/wiki/Копилефт">COPYLEFT <span class="copyleft">&copy;</span></a> 2017-
                    <script language="JavaScript" type="text/javascript">
                        now = new Date
                        theYear=now.getYear()
                        if (theYear < 1900)
                        theYear=theYear+1900
                        document.write(theYear)
                    </script>. 
                    Разработка <a href="https://vk.com/goomba41">Бородавкин Антон</a> 
                    <a href="mailto:anton.borodawkin@yandex.ru"><i class="fa fa-fw fa-envelope" aria-hidden="true"></i></a>
                    <a href="https://vk.com/goomba41"><i class="fa fa-fw fa-vk" aria-hidden="true"></i></a>
                    <a href="https://github.com/Goomba41"><i class="fa fa-fw fa-github" aria-hidden="true"></i></a>
                </p>
            </div>
        </div>
    </nav>
--> #}


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='work/js/jquery.1.11.1.js') }}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="{{ url_for('static', filename='admin/js/bootstrap-4/bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='work/js/SmoothScroll.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='work/js/jquery.isotope.js') }}"></script>

    <script src="{{ url_for('static', filename='work/js/owl.carousel.js') }}"></script>

    <!-- Javascripts
    ================================================== -->

  </body>
</html>
