{% extends "admin/base_admin.html" %}
{% block content %}

{% if session['logged_in'] %}
    <nav class="navbar navbar-default">
        <div class="container" style ="margin-right: initial; margin-left: initial;">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
              <span class="sr-only">Навигация</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Управление</a>
          </div>
          <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li class=""><a href="{{ url_for('kartoteka.kartoteka_main') }}" title="Список всех записей БД 'Картотека запросов'">Список  <span class="badge">{{ request_count }}</span></a></li>
                <li><a href="{{ url_for('kartoteka.new_request_kartoteka') }}" title="Создать запрос в БД 'Картотека запросов'">Создать запрос</a></li>
                <li><a href="{{ url_for('kartoteka.kartoteka_executors') }}" title="Добавить\удалить исполнителей запросов в БД 'Картотека запросов'">Исполнители</a></li>
                <li><a href="{{ url_for('kartoteka.kartoteka_statistics') }}" title="Статистика заполнения БД 'Картотека запросов'">Статистика</a></li>
                <li><a href="{{ url_for('kartoteka.search_request') }}" title="Поиск записей в БД 'Картотека запросов' по параметрам">Поиск</a></li>
            </ul>
          </div>
        </div>
    </nav>

    {% from "admin/_formhelpers.html" import flash_msg %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {{flash_msg(messages)}}
        {% endif %}
    {% endwith %}

        <div class="admin_wrapper">
        {% from "admin/_formhelpers.html" import render_field %}
        <form action="" method="POST" id="form_user_add" name = "form_user_add" enctype="multipart/form-data">
            <div class="col-sm-6">
            {{ form_request_add.csrf_token }}
            {{ render_field(form_request_add.number, size=50, class ="form-control", placeholder ="Максимум 10 символов", autocomplete = True) }}
            {{ render_field(form_request_add.date_registration, class ="form-control") }}
            {{ render_field(form_request_add.surname, size=50, class ="form-control", placeholder ="Максимум 15 символов", autocomplete = True) }}
            {{ render_field(form_request_add.name, size=50, class ="form-control", placeholder ="Максимум 15 символов", autocomplete = True) }}
            {{ render_field(form_request_add.patronymic, size=50, class ="form-control", placeholder ="Максимум 15 символов", autocomplete = True) }}
            </div>
            <div class="col-sm-6">
            {{ render_field(form_request_add.kind_id, class ="form-control") }}
            {{ render_field(form_request_add.character_id, class ="form-control") }}
            {{ render_field(form_request_add.executor_id, class ="form-control") }}
            </div>
            <div class="col-sm-8">
            <input type="submit" value="Добавить" class="btn btn-lg btn-success">
            <a href="{{url_for('kartoteka.kartoteka_main')}}"><button type="button" class="btn btn-lg btn-danger">Отмена</button></a>
            </div>
        </form>
        <br style="clear: both;"/>
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {{flash_msg(messages)}}
        {% endif %}
    {% endwith %}

<script type="text/javascript">

    $( "input#number" ).keypress(function(event){
       if(event.which == 32 || event.which != 8 && isNaN(String.fromCharCode(event.which))){
           event.preventDefault();
       }
    });

    var juridical_st = false;
    var juridical = "";

    $( "#juridical" ).click(function(){
        if (juridical_st) {
            juridical_st = false;
            juridical = "";
            $("#juridical").css({"background-color":"#eeeeee","color":"#555"});
            }
        else {
            juridical_st = true;
            juridical = "Ю";
            $("#juridical").css({"background-color":"#419641","color":"#fff"});
            }
    });

    var liter = "@";
    $( "#liter" ).html( "@" );

    $( "#kind_id" ).change(function() {
        if ($('select[name=kind_id]').val()=="1") {$( "#liter" ).html( "П" ); liter = "П";}
        else if ($('select[name=kind_id]').val()=="2") {$( "#liter" ).html( "@" ); liter = "@";}
        else if ($('select[name=kind_id]').val()=="3") {$( "#liter" ).html( "Т" ); liter = "Т";}
        else if ($('select[name=kind_id]').val()=="4") {$( "#liter" ).html( "Н" ); liter = "Н";}
        else if ($('select[name=kind_id]').val()=="5") {$( "#liter" ).html( "И" ); liter = "И";}
    });

    $("#form_user_add").submit( function(eventObj) {
        var ins_str = "";
        if (juridical_st) {ins_str = $.trim(liter+" "+juridical);}
        else {ins_str = $.trim(liter);}
          $('<input />').attr('type', 'hidden')
                  .attr('name', "liter")
                  .attr('value', ins_str)
                  .appendTo('#form_user_add');
     });


  $(function () {
    $('#datetimepicker1').datetimepicker({
        locale: 'ru',
        format: 'YYYY-MM-DD',
        defaultDate: "{{ today }}",
    });
  });
</script>

{% endif %}

{% endblock %}
