{% extends "admin/base_admin.html" %}
{% block content %}

{% if session['logged_in'] %}
{# 
<nav class="navbar navbar-default">
        <div class="container" style ="margin-right: initial; margin-left: initial;">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
              <span class="sr-only">Навигация</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Управление</a>
          </div>
          <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li class=""><a href="{{ url_for('kartoteka.kartoteka_main') }}" title="Список всех записей БД 'Картотека запросов'"><i class="fa fa-list-ol" aria-hidden="true"></i>Список  <span class="badge">{{ request_count }}</span></a></li>
                <li><a href="{{ url_for('kartoteka.new_request_kartoteka') }}" title="Создать запрос в БД 'Картотека запросов'"><i class="fa fa-plus" aria-hidden="true"></i>Создать запрос</a></li>
                <li><a href="{{ url_for('kartoteka.kartoteka_executors') }}" title="Добавить\удалить исполнителей запросов в БД 'Картотека запросов'"><i class="fa fa-users" aria-hidden="true"></i>Исполнители</a></li>
                <li><a href="{{ url_for('kartoteka.kartoteka_statistics') }}" title="Статистика заполнения БД 'Картотека запросов'"><i class="fa fa-line-chart" aria-hidden="true"></i>Статистика</a></li>
                <li><a href="{{ url_for('kartoteka.search_request') }}" title="Поиск записей в БД 'Картотека запросов' по параметрам"><i class="fa fa-search" aria-hidden="true"></i>Поиск</a></li>
            </ul>
          </div>
        </div>
    </nav> #}
    
<div class="container mw-100 p-0" style="margin-top:3.95em;margin-bottom:4em;">
    <div class="col p-0">
        
        <div class="row-fluid">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#" title="Панель управления таблицей">Управление</span></a>

                <div class="collapse navbar-collapse" id="primary-nav">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        
                        <li class="nav-item active">
                            <a class="nav-link" title="Список всех записей БД 'Картотека запросов'" href="{{url_for('kartoteka.kartoteka_main')}}"><i class="fa fa-list-ol" aria-hidden="true"></i>
 Список ({{ request_count }})</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" title="Создать запрос в БД 'Картотека запросов'" href="{{url_for('kartoteka.new_request_kartoteka')}}"><i class="fa fa-plus" aria-hidden="true"></i>
 Создать</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" title="Добавить\удалить исполнителей запросов в БД 'Картотека запросов'" href="{{ url_for('kartoteka.kartoteka_executors') }}"><i class="fa fa-users" aria-hidden="true"></i>
 Исполнители</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" title="Статистика заполнения БД 'Картотека запросов'" href="{{ url_for('kartoteka.kartoteka_statistics') }}"><i class="fa fa-line-chart" aria-hidden="true"></i>
 Статистика</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" title="Поиск записей в БД 'Картотека запросов' по параметрам" href="{{ url_for('kartoteka.search_request') }}"><i class="fa fa-search" aria-hidden="true"></i>
 Поиск</a>
                        </li>
                    </ul>
                    
                </div>

            </nav>
        </div>

    {% from "admin/_formhelpers.html" import flash_msg %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {{flash_msg(messages)}}
        {% endif %}
    {% endwith %}

        {% from "admin/_formhelpers.html" import render_field %}
        <form action="" class="form-row p-3 m-auto" method="POST" id="form_request_edit" name = "form_request_edit" enctype="multipart/form-data">
            <div class="col-6">
            {{ form_request_edit.csrf_token }}
            {{ render_field(form_request_edit.number, size=50, class ="form-control", placeholder ="Максимум 10 символов", autocomplete = True) }}
            {{ render_field(form_request_edit.surname, size=50, class ="form-control", placeholder ="Максимум 50 символов", autocomplete = True) }}
            {{ render_field(form_request_edit.name, size=50, class ="form-control", placeholder ="Максимум 15 символов", autocomplete = True) }}
            {{ render_field(form_request_edit.patronymic, size=50, class ="form-control", placeholder ="Максимум 15 символов", autocomplete = True) }}
            {{ render_field(form_request_edit.copies, size=50, class ="form-control", placeholder ="Максимум 10 символов", autocomplete = True) }}
            {{ render_field(form_request_edit.date_registration, class ="form-control", placeholder ="В формате ГГГГ-ММ-ДД", readonly=readonly) }}
            {{ render_field(form_request_edit.date_done, class ="form-control", placeholder ="В формате ГГГГ-ММ-ДД", readonly=readonly) }}
            {{ render_field(form_request_edit.date_send, class ="form-control", placeholder ="В формате ГГГГ-ММ-ДД", readonly=readonly) }}
            </div>
            <div class="col-6">
            {{ render_field(form_request_edit.kind_id, class ="form-control") }}
            {{ render_field(form_request_edit.admission_id, class ="form-control") }}
            {{ render_field(form_request_edit.character_id, class ="form-control") }}
            {{ render_field(form_request_edit.executor_id, class ="form-control") }}
            {{ render_field(form_request_edit.send_id, class ="form-control") }}
            {{ render_field(form_request_edit.answer_id, class ="form-control") }}
            {{ render_field(form_request_edit.filename) }}

            {% if edit_request.filename %}
                <a title="Файл справки: {{ edit_request.filename }}" href="{{ url_for('kartoteka.download', filename=edit_request.filename) }}"><i class="fa fa-file-text fa-3x fa-pull-left fa-border" aria-hidden="true"></i></a><i onclick="delete_requests_file()" class="fa fa-trash" aria-hidden="true"></i>
            {% endif %}
            </div>
            <div class="row-fluid p-3">
            <input type="submit" value="Изменить" class="btn btn-lg btn-success">
            <a href="{{url_for('kartoteka.kartoteka_main')}}"><button type="button" class="btn btn-lg btn-danger">Отмена</button></a>
            </div>
        </form>

    </div>
</div>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {{flash_msg(messages)}}
        {% endif %}
    {% endwith %}

{% endif %}

<script type="text/javascript">

    $( "input#number" ).keypress(function(event){
        if(event.which == 32 || event.which != 8 && isNaN(String.fromCharCode(event.which))){
            event.preventDefault();
        }
    });

    //var vipnet_st = {{ vipnet }};
//
    //if (vipnet_st == 1) {
        //vipnet_st=true;
        //vipnet = "@";
        //$("#vipnet").css({"background-color":"#419641","color":"#fff"});
        //}
    //else if (vipnet_st == 0){
        //vipnet_st=false;
        //vipnet = "";
        //$("#vipnet").css({"background-color":"#eeeeee","color":"#555"});
        //}
//
    //$( "#vipnet" ).click(function(){
        //if (vipnet_st) {
            //vipnet_st = false;
            //vipnet = "";
            //$("#vipnet").css({"background-color":"#eeeeee","color":"#555"});
            //}
        //else {
            //vipnet_st = true;
            //vipnet = "@";
            //$("#vipnet").css({"background-color":"#419641","color":"#fff"});
            //}
    //});



    var liter = "{{ liter }}";
    $( "#liter" ).html( "{{ liter }}" );
    
    $( ".journal" ).click(function() {
        if ($(this).attr('id')=="1") {$( "#liter" ).html( "@" ); liter = "@";}
        else if ($(this).attr('id')=="2") {$( "#liter" ).html( "П" ); liter = "П";}
        else if ($(this).attr('id')=="3") {$( "#liter" ).html( "Н" ); liter = "Н";}
        else if ($(this).attr('id')=="4") {$( "#liter" ).html( "Т" ); liter = "Т";}
        else if ($(this).attr('id')=="6") {$( "#liter" ).html( "Б" ); liter = "Б";}
    });

    $("#form_request_edit").submit( function(eventObj) {
        var ins_str = "";
        //if (vipnet_st) {ins_str = $.trim(liter+" "+vipnet);}
        //else {ins_str = $.trim(liter);}
        ins_str = $.trim(liter)
          $('<input />').attr('type', 'hidden')
                  .attr('name', "liter")
                  .attr('value', ins_str)
                  .appendTo('#form_request_edit');
     });

    {% if edit_request.filename %}
    function delete_requests_file() {
       confirm("Вы уверены, что хотите УДАЛИТЬ выбранный файл?");
        $.post( "{{ url_for('kartoteka.delete_file',filename=edit_request.filename) }}", {
            filename: '{{ edit_request.filename }}',
            id_request: '{{ edit_request.id }}',
            success: function (e) {
                console.log(e);
                location.reload();
            }
        })
    }
    {% endif %}
</script>

<script>
    var today;
    today = new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate());
    $('#date_reg').datepicker({
        locale: 'ru-ru',
        format: 'yyyy-mm-dd',
        uiLibrary: 'bootstrap4',
        iconsLibrary: 'fontawesome',
        maxDate: today,
        weekStartDay: 1,
        width: 496
    });
    $('#date_done').datepicker({
        locale: 'ru-ru',
        format: 'yyyy-mm-dd',
        uiLibrary: 'bootstrap4',
        iconsLibrary: 'fontawesome',
        maxDate: today,
        weekStartDay: 1,
        width: 496
    });
    $('#date_send').datepicker({
        locale: 'ru-ru',
        format: 'yyyy-mm-dd',
        uiLibrary: 'bootstrap4',
        iconsLibrary: 'fontawesome',
        maxDate: today,
        weekStartDay: 1,
        width: 496
    });
</script>

{% endblock %}
