{% extends "admin/base_admin.html" %}
{% block content %}

{% if session['logged_in'] %}
{# 
<nav class="navbar navbar-default">
        <div class="container" style ="margin-right: initial; margin-left: initial;">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
              <span class="sr-only">Навигация</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Управление</a>
          </div>
          <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li class=""><a href="{{ url_for('kartoteka.kartoteka_main') }}" title="Список всех записей БД 'Картотека запросов'"><i class="fa fa-list-ol" aria-hidden="true"></i>Список <span class="badge">{{ request_count }}</span></a></li>
                <li><a href="{{ url_for('kartoteka.new_request_kartoteka') }}" title="Создать запрос в БД 'Картотека запросов'"><i class="fa fa-plus" aria-hidden="true"></i>Создать запрос</a></li>
                <li><a href="{{ url_for('kartoteka.kartoteka_executors') }}" title="Добавить\удалить исполнителей запросов в БД 'Картотека запросов'"><i class="fa fa-users" aria-hidden="true"></i>Исполнители</a></li>
                <li><a href="{{ url_for('kartoteka.kartoteka_statistics') }}" title="Статистика заполнения БД 'Картотека запросов'"><i class="fa fa-line-chart" aria-hidden="true"></i>Статистика</a></li>
                <li class="dropdown">
                    <a href="#" title="Действия с выбранными записями" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-check-square" aria-hidden="true"></i>С выбранным<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a class="delete" onclick="delete_kartoteka_requests()"  href=""><i class="fa fa-trash" aria-hidden="true"></i>Удалить</a></li>
                    </ul>
                </li>
                <li><a href="{{ url_for('kartoteka.search_request') }}" title="Поиск записей в БД 'Картотека запросов' по параметрам"><i class="fa fa-search" aria-hidden="true"></i>Поиск</a></li>
                <li><a href="{{ url_for('kartoteka.download_csv', filename='request.csv') }}" title="Скачать список всех записей БД 'Картотека запросов'"><i class="fa fa-download" aria-hidden="true"></i>Скачать</a></li>
            </ul>
          </div>
        </div>
    </nav>
#}


<div class="container mw-100 p-0" style="margin-top:3.95em;margin-bottom:4em;">
    <div class="col p-0">
        
        <div class="row-fluid">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#" title="Панель управления таблицей">Управление</span></a>

                <div class="collapse navbar-collapse" id="primary-nav">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        
                        <li class="nav-item active">
                            <a class="nav-link" title="Список всех записей БД 'Картотека запросов'" href="{{url_for('kartoteka.kartoteka_main')}}"><i class="fa fa-list-ol" aria-hidden="true"></i>
 Список ({{ request_count }})</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" title="Создать запрос в БД 'Картотека запросов'" href="{{url_for('kartoteka.new_request_kartoteka')}}"><i class="fa fa-plus" aria-hidden="true"></i>
 Создать</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" title="Добавить\удалить исполнителей запросов в БД 'Картотека запросов'" href="{{ url_for('kartoteka.kartoteka_executors') }}"><i class="fa fa-users" aria-hidden="true"></i>
 Исполнители</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" title="Статистика заполнения БД 'Картотека запросов'" href="{{ url_for('kartoteka.kartoteka_statistics') }}"><i class="fa fa-line-chart" aria-hidden="true"></i>
 Статистика</a>
                        </li>
                        <li class="nav-item active dropdown">
                            <a id="main-panel-dropdown-administration" href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-check-square-o" aria-hidden="true"></i>
 Выбранное</a>
                            
                            <div class="dropdown-menu" aria-labelledby="main-panel-dropdown-administration">
                                <a class="dropdown-item delete" onclick="delete_kartoteka_requests()" href="#"><i class="fa fa-trash-o" aria-hidden="true"></i>
 Удалить</a>
                            </div>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" title="Поиск записей в БД 'Картотека запросов' по параметрам" href="{{ url_for('kartoteka.search_request') }}"><i class="fa fa-search" aria-hidden="true"></i>
 Поиск</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" title="Скачать список всех записей БД 'Картотека запросов'" href="{{ url_for('kartoteka.download_csv', filename='request.csv') }}"><i class="fa fa-download" aria-hidden="true"></i>
 Скачать CSV</a>
                        </li>
                    </ul>
                    
                </div>

            </nav>
        </div>
        
        <div class="row p-3 m-auto align-items-center">

            <div class="col">
                {{ pagination.links }}
            </div>
            <div class="col">
                <div class="alert alert-info" role="alert">Всего записей в списке: {{ pages_total }} | Из них не исполненных: {{ request_in_work_count }}</div>
            </div>
        </div>
        
        {% from "admin/_formhelpers.html" import flash_msg %}
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {{flash_msg(messages)}}
            {% endif %}
        {% endwith %}
        
        {#
            <div class="col-sm-6">
        <!--
            <a href="#" id="surname" data-type="text" data-pk="1"></a>
                <script>
                $(function(){
                    $('#surname').editable({
                        url: "{{ url_for('kartoteka.search') }}",
                        title: 'Введите фамилию',
                        succsess: function(response) {
                            alert("123");
                            //~ window.location.replace("");
                        }
                    });
                });


                $.post( "{{ url_for('kartoteka.delete_file',filename=edit_request.filename) }}", {
                    filename: '{{ edit_request.filename }}',
                    id_request: '{{ edit_request.id }}',
                    success: function (e) {
                        console.log(e);
                        location.reload();
                    }
                })


                </script>
        -->
            </div>
            #}
        {#
            <div class="col-sm-6">

            {% from "admin/_formhelpers.html" import render_field %}
                <form action="" method="POST" name = "form_request_edit" enctype="multipart/form-data">
                    {{ form_search.csrf_token }}
                    {{ render_field(form_search.number, size=50, class ="form-control", placeholder ="Максимум 10 символов", autocomplete = True) }}
                    <input type="submit" value="Найти" class="btn btn-lg btn-success">
                    <a href="{{url_for('kartoteka.kartoteka_main')}}"><button type="button" class="btn btn-lg btn-danger">Отмена</button></a>
                </form>
                <br style="clear: both;"/>
       
        <!--
            Всего записей в БД по данным критериям: {{ pages_total }}
        -->
            </div>
 #}
            <div class="row p-3 m-auto align-items-center">
                <table class="table table-striped table-bordered table-hover table-responsive model-list text-center" >
                    <tr>
                        <th><input type="checkbox" name="rowtoggle" class="action-rowtoggle" title="Выделение всех записей" ></th>
                        <th width="1%">Действия над записью</th>
                        <th >Номер</th>
                        <th >ФИО</th>
                        <th width="11%">Дата запроса</th>
                        <th >Характер запроса</th>
                        <th >Исполнитель</th>
                        <th >Характер ответа</th>
                        <th >Файл справки</th>
                    </tr>
            {% for request in request_all.items %}
                    <tr>
                            <td ><input type="checkbox" name="rowdelete" class="action-checkbox" value={{ request.id }} title="Выберите запись"></td>
                            <td >
                                <div class = "col control">
                                    <a class = "row p-1" href="{{url_for('kartoteka.edit_request', id = request.id)}}"><button class="btn btn-primary" type="submit" title="Изменить запись"><i class="fa fa-pencil fa-control fa-fw p-0" aria-hidden="true"></i></button></a>
                                    <a class = "row p-1" href="{{url_for('kartoteka.card_request', id = request.id)}}"><button class="btn btn-warning" type="submit" title="Посмотреть карточку"><i class="fa fa-eye fa-control fa-fw p-0" aria-hidden="true"></i></button></a>
                                    <form action="" class="row p-1" method="post" name="deluser">
                                        {{form_delete.hidden_tag()}}
                                        <button class="btn btn-danger" type="submit" title="Удалить запись" onclick="return confirm('Точно?');"><i class="fa fa-trash fa-control fa-fw p-0"></i></button>
                                        {{form_delete.del_id(id="del-"+request.id|string,value=request.id, style = "display:none;")}}<br>
                                    </form>
                                </div>
                            </td>
                        <td>{{ request.number }}</td>
                        <td><a href="{{ url_for('kartoteka.kartoteka_main', surname=request.surname) }}">{{ request.surname }} {{ request.name}} {{ request.patronymic }}</td>
                        <td>
                            Р: {{ request.date_registration }}</br>
                            И: {{ request.date_done }}</br>
                            О: {{ request.date_send }}</br>
                        </td>
                        <td>{{ request.character.name }}</td>
                        <td>
                        {% if request.executor %}
                            <a href="{{ url_for('kartoteka.kartoteka_main', executor=request.executor_id) }}">{{ request.executor.user.surname}}</a>
                        {% endif %}
                        </td>
                        <td>{{ request.answer.name }}</td>
                        <td>
                        {% if request.filename %}
                            <a href="{{ url_for('kartoteka.download', filename=request.filename) }}">{{ request.filename }}</a>
                        {% endif %}
                        </td>
                    </tr>
            {% endfor %}
                </table>
            </div>


            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {{flash_msg(messages)}}
                {% endif %}
            {% endwith %}
            
            <div class="row p-3 m-auto align-items-center">
                <div class="col-6">
                {{ pagination.links }}
                </div>
                <div class="col-6">
                    <div class="alert alert-info" role="alert">Всего записей в списке: {{ pages_total }} | Из них не исполненных: {{ request_in_work_count }}</div>
                </div>
            </div>
            
        </div>
    
    </div>
</div>

{% endif %}

{% endblock %}
