{% extends "admin/base_admin.html" %}
{% block content %}

{% if session['logged_in'] %}

<nav class="navbar navbar-default">
        <div class="container" style ="margin-right: initial; margin-left: initial;">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
              <span class="sr-only">Навигация</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Управление</a>
          </div>
          <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li class=""><a href="{{ url_for('kartoteka.kartoteka_main') }}">Список  <span class="badge">{{ request_count }}</span></a></li>
                <li><a href="{{ url_for('kartoteka.new_request_kartoteka') }}">Создать запрос</a></li>
                <li><a href="{{ url_for('kartoteka.kartoteka_executors') }}">Исполнители</a></li>
                <li><a href="{{ url_for('kartoteka.kartoteka_statistics') }}">Статистика</a></li>
                <li><a href="{{ url_for('kartoteka.search_request') }}">Поиск</a></li>
            </ul>
          </div>
        </div>
    </nav>


    {% from "admin/_formhelpers.html" import flash_msg %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {{flash_msg(messages)}}
        {% endif %}
    {% endwith %}

    <div class="col-sm-12">
        <h2>Статистика заполнения БД "Картотека запросов":</h2>

        <h3>Всего записей в БД: <span class="badge btn-primary" style="font-size:1em;">{{ request_count }}</span></h3></br>

        <div class="panel panel-primary ">
            <div class="panel-heading">
                <h3 class="panel-title">Статистика по периоду (по дате исполнения): </span></h3>
            </div>
            <div class="panel-body">

                <div class="col-sm-6">

                    <div class="form-group">
                          <label for="statistic_type">Вид статистики:</label>
                          <select class="form-control" id="statistic_type">
                            <option value="1">Количество положительных запросов</option>
                            <option value="2">Количество социально-правовых запросов</option>
                            <option value="3">Количество запросов (общее)</option>
                            <option value="4">Количество запросов VipNet</option>
                            <option value="5">Количество запросов по пользователям</option>
                            <option value="6">Запросы юридических лиц</option>
                          </select>
                        </div>

                    <div class="form-group" >
                        <div class="input-group date"  id="datetimepicker1">
                            <span class="input-group-addon" style="width: 30%;" id="basic-addon1">Начальная дата</span>
                            <input type='text' class="form-control period_date"  />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar">
                            </span>
                            </span>
                        </div>
                    </div>

                    <div class="form-group" >
                        <div class="input-group date"  id="datetimepicker2">
                            <span class="input-group-addon" style="width: 30%;" id="basic-addon1">Конечная дата</span>
                            <input type='text' class="form-control period_date" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar">
                            </span>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <span id="result" style="font-size: 4vw;"></span>
                </div>

            </div>
        </div>

        <div class = "col-sm-6 ">
            <div class="panel panel-info">
            <!-- Default panel contents -->
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a style="text-decoration: none;" data-toggle="collapse" href="#collapse1"><strong>Количество записей по характеру запроса: <i class="fa fa-caret-down" aria-hidden="true"></i></strong></a>
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse">

                    <table class="table">
                        <th>Характер запроса</th>
                        <th>Количество запросов</th>
                        <tbody>
                        {% for count in count_requests_haracter %}
                            <tr>
                                <td style="padding-right:10px;">{{ count[1] }}:</td><td><strong>{{ count[2] }}</strong></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

        <div class = "col-sm-6 ">
            <div class="panel panel-info">
            <!-- Default panel contents -->
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a style="text-decoration: none;" data-toggle="collapse" href="#collapse2"><strong>Количество записей по году запроса: <i class="fa fa-caret-down" aria-hidden="true"></i></strong></a>
                    </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse">

                    <table class="table">
                        <th>Год</th>
                        <th>Количество запросов</th>
                        <tbody>
                        {% for count in count_requests_year %}
                            <tr>
                                <td style="padding-right:10px;">{{ count[0] }}:</td><td><strong>{{ count[1] }}</strong></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

        <div class = "col-sm-6 ">
            <div class="panel panel-info">
            <!-- Default panel contents -->
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a style="text-decoration: none;" data-toggle="collapse" href="#collapse3"><strong>Количество записей по характеру ответа: <i class="fa fa-caret-down" aria-hidden="true"></i></strong></a>
                    </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse">

                    <table class="table">
                        <th>Характер ответа</th>
                        <th>Количество запросов</th>
                        <tbody>
                        {% for count in count_requests_answer %}
                            <tr>
                                <td style="padding-right:10px;">{{ count[1] }}:</td><td><strong>{{ count[2] }}</strong></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

        <div class = "col-sm-6 ">
            <div class="panel panel-info">
            <!-- Default panel contents -->
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a style="text-decoration: none;" data-toggle="collapse" href="#collapse4"><strong>Количество записей по виду запроса: <i class="fa fa-caret-down" aria-hidden="true"></i></strong></a>
                    </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse">

                    <table class="table">
                        <th>Вид запроса</th>
                        <th>Количество запросов</th>
                        <tbody>
                        {% for count in count_requests_kind %}
                            <tr>
                                <td style="padding-right:10px;">{{ count[1] }}:</td><td><strong>{{ count[2] }}</strong></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

        <div class = "col-sm-6 ">
            <div class="panel panel-info">
            <!-- Default panel contents -->
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a style="text-decoration: none;" data-toggle="collapse" href="#collapse5"><strong>Количество записей по пользователям: <i class="fa fa-caret-down" aria-hidden="true"></i></strong></a>
                    </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse">

                    <table class="table">
                        <th>Вид запроса</th>
                        <th>Количество запросов</th>
                        <tbody>
                        {% for count in count_requests_users %}
                            <tr>
                                <td style="padding-right:10px;">{{ count[1] }}:</td><td><strong>{{ count[2] }}</strong></td>
                            </tr>
                        {% endfor %}
                            <tr class="btn-danger">
                                <td  style="padding-right:10px;">Прочие:</td><td><strong>{{ count_requests_users_others }}</strong></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

    </div>

    <br style="clear: both; padding-bottom:60px;" />

    <script>
        $(function () {
                $('#datetimepicker1').datetimepicker({
                    locale: 'ru',
                    format: 'YYYY-MM-DD'
                });
                $('#datetimepicker2').datetimepicker({
                    locale: 'ru',
                    format: 'YYYY-MM-DD',
                    useCurrent: false
                });
            });

        var begin = {}
        var end = {}

        $("#datetimepicker1").on("dp.change", function (e) {
            $('#datetimepicker2').data("DateTimePicker").minDate(e.date);

            begin = { begin: e.date }; //~ при изменении значения даты записываем в словарь begin
            $.extend( begin, end ); //~ и сливаем словарь begin и словарь end (слияние происходит в первый словарь)
            send_dates(begin); //~ и посылаем словарь в функцию отправки

        });

        $("#datetimepicker2").on("dp.change", function (e) {
            $('#datetimepicker1').data("DateTimePicker").maxDate(e.date);

            end = { end: e.date }; //~ при изменении значения даты записываем в словарь end
            $.extend( begin, end );
            send_dates(begin);

        });

        $( "#statistic_type" ).change(function() {
            send_dates(begin);
        });

        function send_dates(dates) {
            $.extend( begin, {type:$('select[id=statistic_type]').val()} );
            $.ajax({
              url: "{{ url_for('kartoteka.kartoteka_statistics') }}",
              type: "post",
              contentType: 'application/json;charset=UTF-8',
              data : JSON.stringify(dates),
              dataType: 'text',
              success: function(response) {
                var json = $.parseJSON(response);
                if (json.employee){
                    $("#result").html("");
                    $.each(json.employee, function(index, element) {
                            $("#result").append(element.surname+": "+element.col+" "+element.string+"</br>");
                        });
                }
                else if (json.queries){
                $.each(json.queries, function(index, element) {
                        $("#result").html(element.col+" "+element.string);
                    });
                }
              }
            });
        };


    </script>

{% endif %}

{% endblock %}
