{% macro render_field(field) %}

    {% if field.type == "TextField" %}
{# _
        <div class="input-group default-input-text"> 
            <span class="input-group-addon" id="basic-addon1">{{field.label}}</span>
            {{ field(**kwargs)|safe }}
            {% if field.name == "number" %}
            <span class="input-group-addon" id="liter">-</span>
            <div class="input-group-btn"> 
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Литера
                    <span class="caret"></span> <span class="sr-only"></span> 
                </button> 
                <ul class="dropdown-menu"> 
                    <li id="1" class="journal"><a>@ (VipNet)</a></li>
                    <li id="2" class="journal"><a>П (Социально-правовые)</a></li>
                    <li id="3" class="journal"><a>Н (Непрофильные)</a></li>
                    <li id="4" class="journal"><a>Т (Тематические)</a></li>
                    <li id="6" class="journal"><a>Б (Биографические)</a></li>
                </ul> 
            </div> 
            {% endif %}
        </div>  #}
        
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="password">{{field.label.text}}</span>
            </div>
            {{ field(**kwargs)|safe }}
            {% if field.name == "number" %}
            <div class="input-group-append">
                <span class="input-group-text" id="liter">&mdash;</span>
            </div>
            
            <div class="input-group-append">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Литера</button>
                <div class="dropdown-menu">
                    <a id="1" class="journal dropdown-item" href="#">@ (VipNet)</a>
                    <a id="2" class="journal dropdown-item" href="#">П (Социально-правовые)</a>
                    <a id="3" class="journal dropdown-item" href="#">Н (Непрофильные)</a>
                    <a id="4" class="journal dropdown-item" href="#">Т (Тематические)</a>
                    <a id="6" class="journal dropdown-item" href="#">Б (Биографические)</a>
                </div>
            </div>
            {% endif %}
        </div>


    {% elif field.type == "PasswordField" %}
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="password">{{field.label.text}}</span>
        </div>
        {{ field(**kwargs)|safe }}
    </div>
        
        
    {% elif field.type == "TelField" %}
    {# 
        <div class="input-group">
            <span class="input-group-addon" id="phone">{{field.label}}</span>
            {{ field(**kwargs)|safe }}
        </div> #}
        
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="password">{{field.label.text}}</span>
        </div>
        {{ field(**kwargs)|safe }}
    </div>
    
        
    {% elif field.type == "DateField" %}
        {# <div class="form-group">
            <div class="input-group date"  id="datetimepicker{{field.id}}">
                <span class="input-group-addon" style="width: 30%;" id="basic-addon1">{{field.label}}</span>
                {{ field(**kwargs)|safe }}
                <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div> #}
        

        <div class="input-group mb-3 date">
            <div class="input-group-prepend">
                <span class="input-group-text">{{field.label.text}}</span>
            </div>
            {{ field(**kwargs)|safe }}
        </div>

        
        
    {% elif field.type == "FileField" %}
    {# 
      <div class="input-group default-input-file">
        <label for="exampleInputFile">{{field.label}}</label>
        {{ field(**kwargs)|safe }}
        {% if field.name == "filename" %}
            <small id="fileHelp" class="form-text text-muted" style="color: #860808">Разрешенные типы файлов: odt, doc, docx, pdf</small>
        {% else %}
            <small id="fileHelp" class="form-text text-muted" style="color: #860808">Разрешенные типы файлов: jpeg, jpg, png</small>
        {% endif %}
      </div> #}
      
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="avatar_input_addon">{{field.label.text}}</span>
      </div>
      <div class="custom-file">
        {{ field(**kwargs)|safe }}
        {% if field.name == "filename" %}
        <label class="custom-file-label" for="filename">Выберите файл архивной справки</label>
        {% else %}
        <label class="custom-file-label" for="photo">Выберите файл для фотографии профиля</label>
        {% endif %}
      </div>
    </div>
      
      
    {% elif field.type =="SelectField"  or field.type == "QuerySelectField"%}
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">{{field.label.text}}</span>
            </div>
            {{ field(**kwargs)|safe }}
        </div>
    {% elif field.type =="TextAreaField"%}
    
        <div class="input-group default-input-text-area">
        {{field.label}}
        {{ field(**kwargs)|safe }}
        
    </div>
    {% else %}
            <div class="input-group" style="margin: 2% 2%;width: 100%;">
            <span class="input-group-addon"  style="width: 30%; margin-right:10px" id="basic-addon1">{{field.label}}</span>{{ field(**kwargs)|safe }}
            </div>
    {% endif %}


{#<!--
Подсветка поля с ошибкой
====================================================================
-->#}
    {% if field.errors %}
        {% for error in field.errors %}
        {{error}}
            {% if ((field.type == "TextField") or  (field.type == "PasswordField")) %}
                <script>$( "#{{field.name}}" ).addClass('error_shadowed');</script>
            {% elif field.type == "DateField" %}
                <script>$( "#{{field.id}}" ).addClass('error_shadowed');</script>
            {% else %}
                <script>$( "#{{field.name}}" ).addClass('error_shadowed');</script>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endmacro %}


{#<!--
Сообщения об успехе или ошибке
====================================================================
-->#}
{% macro flash_msg(messages) %}

    {% for category, message in messages %}
        {% if category == 'success'%}
        <div class="alert alert-success" role="alert" style="margin-top:20px;">
            <strong>Успешно!</strong> {{ message }}.
        </div>
        {% endif %}
        {% if category == 'error'%}
            <div class="alert alert-danger" role="alert" style="margin-top:20px;">
                <strong>Ошибка!</strong> {{ message }}.
            </div>
        {% endif %}
        {% if category == 'warning'%}
            <div class="alert alert-warning" role="alert" style="margin-top:20px;">
                <strong>Предупреждение!</strong> {{ message }}.
            </div>
        {% endif %}
    {% endfor %}

{% endmacro %}
