{% extends "admin/base_admin.html" %}
{% block content %}

{% if session['logged_in'] %}
    <nav class="navbar navbar-default">
        <div class="container" style ="margin-right: initial; margin-left: initial;">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
              <span class="sr-only">Навигация</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Управление</a>
          </div>
          <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li class=""><a href="{{url_for('admin.admin_news')}}">Список  <span class="badge">{{ all_counters.get('news_count') }}</span></a></li>
            </ul>
          </div>
        </div>
    </nav>

    <div class="container">
        {# {% from "admin/_formhelpers.html" import render_field %} #}
        <form action="" method="POST" name = "form_news_add" enctype="multipart/form-data">
            <div class="row">
                <div class="col-lg-12">
                    {# 
                    {{ form_news_add.csrf_token }}
                    {{ render_field(form_news_add.header, class ="form-control", placeholder ="Максимум 255 символов", autocomplete = True) }}
                    {{ render_field(form_news_add.text, class ="form-control", autocomplete = True) }}
                    {{ render_field(form_news_add.images, class ="form-control-file") }}
                     #}
                </div><!-- .col -->
                <div class="col-lg-12">
                    <div class="input-group">
                        <span class="input-group-addon" id="title">Заголовок</span>
                        <input required type="text" class="form-control" placeholder="Максимум 255 символов" aria-describedby="title">
                    </div>
                </div>
                <div class="col-lg-12">
                    2
                </div>
                <div class="col-lg-12">
                    <div class="input-group default-input-file">
                        <label for="exampleInputFile">Изображения</label>
                        <input required multiple type="file" class ="form-control-file" aria-describedby="exampleInputFile">
                        <small id="fileHelp" class="form-text text-muted" style="color: #860808">Разрешенные типы файлов: jpeg, jpg, png</small>
                    </div>
                </div>
            </div><!-- .row -->
            <hr/>
            <div class="row">
                <div class="col-lg-12">
                    <input type="submit" value="Добавить" class="btn btn-lg btn-success">
                    <a href="{{url_for('admin.admin_news')}}"><button type="button" class="btn btn-lg btn-danger">Отмена</button></a>
                </div><!-- .col  -->
            </div><!-- .row  -->

        </form><!-- form  -->
    </div><!-- .container  -->
    
    
    <script>
        CKEDITOR.replace( 'text', {
            language: 'ru',
            toolbar: [
                        [ 'Source', '-', 'Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo', '-', "Find", "Replace", "SelectAll", "Scayt"],
                            '/',
                        [ "Bold", "Italic", 'Underline', 'Strike', 'Subscript', 'Superscript', 'RemoveFormat', '-', 'NumberedList', 'BulletedList', "Outdent", "Indent", '-', "Blockquote", '-', "JustifyLeft", "JustifyCenter", "JustifyRight", "JustifyBlock", '-', "Link", "Unlink", "Anchor", '-', "CreatePlaceholder", "Image", "Table", "HorizontalRule", "Smiley", "SpecialChar", "Iframe", "InsertPre"],
            ]
        });
    </script>


{% endif %}

{% endblock %}
