{% extends "admin/base_admin.html" %}
{% block content %}

{% if session['logged_in'] %}
<div class="container mw-100" style="margin-top:3.95em;margin-bottom:4em;">
    <div class="col">

        {% from "admin/_formhelpers.html" import flash_msg %}
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {{flash_msg(messages)}}
            {% endif %}
        {% endwith %}

        
        {% if not birth_celebrate %}
        {% else %}
            {% for key, value in  birth_celebrate.items() %}
                {% if value[0]|int == (today.split('-')[2])|int %}
                
                        <div class="row pt-3">
                                
                                <div class="card card-success border-success w-100">
                                        <div class="card-header bg-success text-white"><strong>ПОЗДРАВЛЯЕМ <i class="fa fa-birthday-cake fa-fw mr-2" aria-hidden="true"></i></strong></div>
                                        <div class="card-body">
                                                <div class="row">
                                                        <div class="col-9 birthday-text" >
                                                                <span class="upper font-BadScript">
                                                                        <strong>{{ key }}</strong><br/>
                                                                        От лица всех сотрудников архива поздравляем Вас<br/>
                                                                        <strong>С ДНЕМ РОЖДЕНИЯ </strong><i class="fa fa-birthday-cake fa-fw mr-2" aria-hidden="true"></i>
                                                                </span>
                                                        </div>
                                                        <div class="col-3">
                                                                {% if value[1] == 2 %}
                                                                <img class="user-avatar-mainscreen" src ="{{ url_for('static', filename='admin/img/programmer3.gif') }}" alt="Birthday_programmer" />
                                                                {% else %}
                                                                <img class="user-avatar-mainscreen" src ="{{ url_for('static', filename='admin/img/flowers.png') }}" alt="Other_birthday" />
                                                                {% endif %}
                                                        </div>
                                                </div>
                                                
                                        </div>
                                </div>
                                
                        </div>
        
                {% endif %}
            {% endfor %} 
        {% endif %}
        
        
        
        <div class="row pt-3">
                
                <div class="card card-primary border-primary w-100">
                        <div class="card-header bg-primary text-white"><strong>Информация о пользователе</strong></div>
                        <div class="card-body">
                                <div class="row">
                                        <div class="col-3">
                                                {% if current_user.photo is none  %}
                                                <img class="user-avatar-mainscreen" src ="{{ url_for('static', filename='admin/img/anonymous.png') }}" alt="User avatar" />
                                                {% else %}
                                                <img class="user-avatar-mainscreen" src ="{{ config['CDN_AVATARS_FOLDER']+current_user.photo }}" alt="User avatar" />
                                                {% endif %}
                                        </div>
                                        <div class="col-9">
                                                <h5 class="card-title"><strong>{{ current_user.surname }} {{ current_user.name }} {{ current_user.patronymic }}</strong></h5>
                                                <ul>
                                                    <li>Последний раз вход совершен: <strong>{{ last_login }}</strong></li>
                                                    <li>Вам присвоена роль: <strong>{{ current_user.role.name }}</strong></li>
                                                    <li>Ваш отдел: <strong>{{ current_user.department.name }}</strong></li>
                                                    <li>Ваша должность: <strong>{{ current_user.post.name }}</strong></li>
                                                    <li>Ваш стаж: <strong>{{ time_worked[0][0] }} {{ time_worked[0][1] }} {{ time_worked[1][0] }} {{ time_worked[1][1] }} {{ time_worked[2][0] }} {{ time_worked[2][1] }}</strong></li>
                                                    <li><i class="fa fa-history fa-fw mr-2" aria-hidden="true"></i><a href="{{ url_for('admin.admin_history') }}">История действий пользователя</a></li>
                                                </ul>
                                        </div>
                                </div>
                                <div class="row pt-3">
                                        <div class="col">
                                                <div class="accordion" id="permissions-list-mainscreen">

                                                        <div class="card-header" id="permissions-card-heading">
                                                                <h5 class="mb-0">
                                                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapsePermissionsMainscreen" aria-expanded="true" aria-controls="collapsePermissionsMainscreen">
                                                                                <strong>Ваши полномочия <i class="fa fa-caret-down fa-fw mr-2" aria-hidden="true"></i></strong>
                                                                        </button>
                                                                </h5>
                                                        </div>

                                                        <div id="collapsePermissionsMainscreen" class="collapse" aria-labelledby="permissions-card-heading" data-parent="#permissions-list-mainscreen">
                                                  
                                                                <table class="table table-hover">
                                                                        <thead>
                                                                                <tr>
                                                                                        <th scope="col">Как</th>
                                                                                        <th scope="col">Можете осуществлять</th>
                                                                                        <th scope="col">В таблице</th>
                                                                                        <th scope="col">Модуля</th>
                                                                                </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                                {% for permission in permissions %}
                                                                                <tr>
                                                                                        <td>{{ permission.role.name }}{{ permission.user.name }}</td>
                                                                                        <td>
                                                                                                {% if permission.enter %}<button type="button" class="btn btn-primary">просмотр</button>{% endif %}
                                                                                                {% if permission.insert %}<button type="button" class="btn btn-success">вставку</button>{% endif %}
                                                                                                {% if permission.update %}<button type="button" class="btn btn-warning">изменение</button>{% endif %}
                                                                                                {% if permission.delete %}<button type="button" class="btn btn-danger">удаление</button>{% endif %}
                                                                                        </td>
                                                                                        <td>{{ permission.table.name }}</td>
                                                                                        <td>{{ permission.table.module_parent.name }}</td>
                                                                                </tr>
                                                                                {% endfor %}
                                                                        </tbody>
                                                                </table>

                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
                
        </div>
        

        <div class="row pt-3">
                <div class="col pl-0">
                
                        <div class="card card-primary border-primary w-100">
                                <div class="card-header bg-primary text-white"><strong>События в текущем месяце:</strong></div>
                                <div class="card-body p-0">
                                        <ul class="list-group">
                                            {% if not birth_celebrate %}
                                                <li class="list-group-item list-group-item-danger">В этом месяце нет дней рождений</li>
                                            {% else %}
                                                {% for key, value in  birth_celebrate.items() %}
                                                    <li class="list-group-item list-group-item-success"><strong>{{ key }}</strong><br/> празднует день рождения <strong>{{ value[0] }} числа</strong></li>
                                                {% endfor %}
                                            {% endif %}
                                            {% for key, value in celebration.items() %}
                                                {% if (key | date)[0] == (today.split('-')[1])|int %}
                                                    <li class="list-group-item list-group-item-warning"><strong>{{ value[0] }}</strong> {{ (key | date)[1] }} числа</li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                </div>
                        </div>
                        
                </div>

                <div class="col pr-0">
                        <div class="card card-danger border-danger w-100">
                                <div class="card-header bg-danger text-white">
                                        <strong>Важная информация:</strong>
                                </div>
                                <div class="card-body p-0">
                                        <ul class="list-group">
                                                <li class="list-group-item list-group-item-danger">
                                                        Уважаемые архивисты, перед началом работы ознакомтесь, пожалуйста, со следующей важной информацией:
                                                </li>
                                                
                                                    {% for news in important_news_all %}
                                                        <li class="list-group-item">
                                                        {% if  current_user.role.id == 1 or current_user.role.id == 2 %}
                                                            <form action="" method="post" name="delimportant">
                                                                {{form_delete.hidden_tag()}}
                                                                    <button class="btn btn-transparent"  type="submit" title="Удалить запись" onclick="return confirm('Точно?');"><i class="fa fa-trash p-0"></i></button>
                                                                    Автор: {{ news.user.surname }} {{ news.user.name }}, {{ news.user.role.name }} 
                                                                    {{form_delete.del_id(id="del-"+news.id|string,value=news.id, style = "display:none;")}}
                                                            </form>
                                                            <i class="fa fa-exclamation-circle" style="color:red" aria-hidden="true"></i> <a href="#" id="text{{ news.id }}" data-name="text" data-type="textarea" data-pk="{{ news.id }}" data-url="{{ url_for('admin.fast_important_edit') }}" data-title="Введите текст новости">{{ news.text }}</a>

                                                            <script>
                                                                $('#text{{ news.id }}').editable({
                                                                    success: function(e) {
                                                                        console.log(e);
                                                                        location.reload();
                                                                    }
                                                                });
                                                            </script>
 
                                                        {% else %}
                                                        <i class="fa fa-exclamation-circle" style="color:red" aria-hidden="true"></i> {{ news.text }}</li>
                                                        {% endif %}

                                                    {% endfor %}
                                                
                                                
                                        </ul>
                                </div>
                        </div>
                </div
{# 
                <div class="col pr-0">
                                <div class="card card-danger border-danger w-100">
                                <div class="card-header bg-danger text-white">
                                        <strong>Важная информация:</strong>
                                        {% if  current_user.role.id == 1 or current_user.role.id == 2 %}
                                            <a href="#" id="text" data-type="textarea" data-pk="" data-title="Важная информация" data-placeholder="Введите текст сюда..."><i class="fa fa-plus fa-control p-0" aria-hidden="true"></i></a>
                                            <script>
                                                $('#text').editable({
                                                    url: "{{ url_for('admin.new_important') }}",
                                                    escape: false,
                                                    ajaxOptions: {
                                                        dataType: 'json'
                                                    },
                                                    success: function(response, newValue) {
                                                        location.reload();
                                                        return {newValue: response.plus}
                                                    }
                                                });
                                            </script>
                                        {% endif %}
                                </div>
                                <div class="card-body p-0">
                                        <ul class="list-group">
                                                <li class="list-group-item list-group-item-danger">
                                                        Уважаемые архивисты, перед началом работы ознакомтесь, пожалуйста, со следующей важной информацией:
                                                </li>
                                                    {% for news in important_news_all %}
                                                        <li class="list-group-item">
                                                        {% if  current_user.role.id == 1 or current_user.role.id == 2 %}
                                                            <form action="" method="post" name="delimportant">
                                                                {{form_delete.hidden_tag()}}
                                                                    <button class="btn btn-transparent"  type="submit" title="Удалить запись" onclick="return confirm('Точно?');"><i class="fa fa-trash p-0"></i></button>
                                                                    Автор: {{ news.user.surname }} {{ news.user.name }}, {{ news.user.role.name }} | Истекает: <a href="#" id="expired{{ news.id }}" data-url="{{ url_for('admin.fast_important_edit') }}" data-name="expired" data-type="combodate" data-template="YYYY-MM-DD HH:mm" data-format="YYYY-MM-DD HH:mm" data-viewformat="YYYY-MM-DD HH:mm" data-pk="{{ news.id }}" data-title="Установите дату и время, когда новость будет удалена">{% if news.expired is not none %}{{ news.expired }}{% endif %}</a>
                                                                    {{form_delete.del_id(id="del-"+news.id|string,value=news.id, style = "display:none;")}}
                                                            </form>
                                                            <i class="fa fa-exclamation-circle" style="color:red" aria-hidden="true"></i> <a href="#" id="text{{ news.id }}" data-name="text" data-type="textarea" data-pk="{{ news.id }}" data-url="{{ url_for('admin.fast_important_edit') }}" data-title="Введите текст новости">{{ news.text }}</a>

<!--
                                                            <script>
                                                                $('#text{{ news.id }}').editable({
                                                                    success: function(e) {
                                                                        console.log(e);
                                                                        location.reload();
                                                                    }
                                                                });
                                                                $('#expired{{ news.id }}').editable({
                                                                    placement: 'left',
                                                                    emptytext: 'Никогда',
                                                                    combodate: {
                                                                            minYear: {{ today.split('-')[0]|int }},
                                                                            maxYear: {{ today.split('-')[0]|int +1 }},
                                                                        },
                                                                    success: function() {
                                                                        location.reload();
                                                                    }
                                                                });
                                                            </script>
-->
 
                                                        {% else %}
                                                        <i class="fa fa-exclamation-circle" style="color:red" aria-hidden="true"></i> {{ news.text }}</li>
                                                        {% endif %}

                                                    {% endfor %}
                                        </ul>
                                </div>
                        </div>
                </div>#}
        </div>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {{flash_msg(messages)}}
            {% endif %}
        {% endwith %}

    </div>
</div>
{% endif %}

{% endblock %}

