{% extends "admin/base_admin.html" %}
{% block content %}

{% if session['logged_in'] %}
    <nav class="navbar navbar-default">
        <div class="container" style ="margin-right: initial; margin-left: initial;">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
              <span class="sr-only">Навигация</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Управление</a>
          </div>
          <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li class=""><a href="{{url_for('admin.admin_backups')}}">Список  <span class="badge"></span></a></li>
            </ul>
          </div>
        </div>
    </nav>

    <div class="col-sm-12">
        <ul class="list-group">
            <li class="list-group-item list-group-item-info">Список баз данных и их таблиц для создания копий:</li>
            {% for db in db_list %}
            <li class="list-group-item">
                <button type="button" class="btn btn-default">Сделать копию базы</button>
                <button type="button" class="btn btn-default">Восстановить из копии</button>
                <span class="badge">14</span>

                <span align="center">{{ db }}</span>

            </li>
            {% endfor %}
        </ul>
    </div>



{% endif %}

{% endblock %}
