{% extends "admin/base_admin.html" %}
{% block content %}

{% if session['logged_in'] %}
    <nav class="navbar navbar-default">
        <div class="container" style ="margin-right: initial; margin-left: initial;">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
              <span class="sr-only">Навигация</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Управление</a>
          </div>
          <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li class=""><a href="{{url_for('admin.admin_backups')}}">Список  <span class="badge"></span></a></li>
            </ul>
          </div>
        </div>
    </nav>

<!--
        <div class="progress">
          <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
            <span class="sr-only">45% Complete</span>
          </div>
        </div>
-->
    <div class="col-sm-12">
        <div class="panel panel-primary">
        <!-- Default panel contents -->
            <div class="panel-heading">Базы данных и таблицы</div>
            <div class="panel-body">
                <div class="btn-group" role="group" aria-label="Операции над БД">
                    <button onclick="save_to_disk('database','all', 'all')" id="all" title="Сделать копию всех баз одним файлом" type="button" class="btn btn-success"><i class="fa fa-arrow-down" aria-hidden="true"></i>Сохранить</button>
                    <a title="Скачать копию всех баз одним файлом" class="btn btn-info" role="button" href="{{ url_for('admin.download_backups', path='all/database/all/sql') }}"><i class="fa fa-download" aria-hidden="true"></i>Скачать</a>
                    <button title="Восстановить из копии" type="button" class="btn btn-danger"><i class="fa fa-arrow-up" aria-hidden="true"></i>Восстановить</button>
                </div>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <ul>
                    {% for db, tables in db_list.items() %}
                    <li style="margin: 20px 0;">
                        <i class="fa fa-circle" style="color:{{ tables.backup_state }};" aria-hidden="true"></i> <a style="text-decoration: none;" data-toggle="collapse" href="#collapse-{{ db }}"><h3 style="display: inline; text-transform: uppercase;">{{ db }} <i class="fa fa-caret-down" aria-hidden="true"></i></h3></a>
                        <div id="collapse-{{ db }}" class="panel-collapse collapse">
                            <div class="panel panel-default" style="margin-top:20px;">
                                <div class="panel-body">
                                    <div class="btn-group" role="group" aria-label="Операции над БД">
                                        <button onclick="save_to_disk('database','{{ db }}', '{{ db }}')" id="{{ db }}" title="Сделать копию базы" type="button" class="btn btn-success"><i class="fa fa-arrow-down" aria-hidden="true"></i>Сохранить</button>
                                        <a title="Скачать копию всех баз одним файлом" class="btn btn-info" role="button" href="{{ url_for('admin.download_backups', path=db+'/database/'+db+'/sql') }}"><i class="fa fa-download" aria-hidden="true"></i>Скачать</a>
                                        <button title="Восстановить из копии" type="button" class="btn btn-danger"><i class="fa fa-arrow-up" aria-hidden="true"></i>Восстановить</button>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table">
                                {% for table, value in tables.items() %}
                                    {% if table != "backup_state" %}

                                    <tr>
                                        <td>
                                            {% for sth in value %}
                                                {% if sth.backup_state %}
                                                    <i class="fa fa-circle" style="color:{{ sth.backup_state }};" aria-hidden="true"></i>
                                                {% endif %}
                                            {% endfor %}
                                            <h5 style="display: inline; text-transform: uppercase;">{{ table }}</h5></td>
                                        <td>
                                            <div class="btn-group" role="group" aria-label="Операции над БД">
                                                <button onclick="save_to_disk( 'table', '{{ table }}','{{ db }}')" id="{{ table }}" title="Сделать копию таблицы" type="button" class="btn btn-success"><i class="fa fa-arrow-down" aria-hidden="true"></i>Сохранить</button>
                                                <div class="btn-group">
                                                    <button title="Скачать копию таблицы" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fa fa-download" aria-hidden="true"></i>Скачать <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="{{ url_for('admin.download_backups', path=db+'/table/'+table+'/sql') }}">В формате sql</a></li>
                                                        <li><a href="{{ url_for('admin.download_backups', path=db+'/table/'+table+'/csv') }}">В формате csv</a></li>
                                                    </ul>
                                                </div>
                                                <button title="Восстановить из копии" type="button" class="btn btn-danger"><i class="fa fa-arrow-up" aria-hidden="true"></i>Восстановить</button>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endif %}
                                {% endfor %}
                                </table>
                            </div>

                        </div>
                    </li>
                    {% endfor %}
                    </ul>
                </li>
             </ul>
        </div>

    </div>

    <div class="col-sm-12">
        <div class="panel panel-primary">
          <!-- Default panel contents -->
            <div class="panel-heading">Прочие данные</div>

              <!-- List group -->
                <ul class="list-group">
                    <li class="list-group-item">
                        <ul>
                            <li style="margin: 20px 0;"><a style="text-decoration: none;" data-toggle="collapse" href="#collapse-1"><h3 style="display: inline; text-transform: uppercase;">Файлы БД "Картотека запросов" <i class="fa fa-caret-down" aria-hidden="true"></i></h3></a></li>

                            <div id="collapse-1" class="panel-collapse collapse">
                                <div class="panel panel-default" >
                                    <div class="panel-body">
                                        <div class="btn-group" role="group" aria-label="Операции над данными">
                                            <button onclick="save_to_disk('files',id, id)" id="kartoteka" title="Сделать заархивированную копию файлов" type="button" class="btn btn-success"><i class="fa fa-arrow-down" aria-hidden="true"></i>Сохранить</button>
                                            <a class="btn btn-info" role="button" href="{{ url_for('admin.download_backups', path='kartoteka/files/kartoteka/7z') }}"><i class="fa fa-download" aria-hidden="true"></i>Скачать</a>
                                            <button title="Восстановить из копии" type="button" class="btn btn-danger"><i class="fa fa-arrow-up" aria-hidden="true"></i>Восстановить</button>
                                        </div>
                                    </div>
                                </div>

                        </ul>
                    </li>
                </ul>

            </div>
            <h1>Общий вес всех резервных копий: {{ total_size }}</h1><button title="Удалить устаревшие файлы" type="button" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i>Очистить</button>
        </div>

    </div>

    <script>
        function save_to_disk(object,obj_name, db) {
            $.ajax({
              url: "{{ url_for('admin.admin_backups') }}",
              type: "POST",
              contentType: 'application/json;charset=UTF-8',
              data : JSON.stringify({obj:object,name:obj_name, db_name:db}),
              dataType: 'json',
              success: function(response) {
                }
              });
        };
    </script>

{% endif %}

{% endblock %}
