<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Заголовок -->
        <title>Администрирование</title>

        <!-- Иконка сайта -->
        <link rel="shortcut icon" href="{{ url_for('static', filename='admin/img/favicon.png') }}" type="image/x-icon"/>

        <!-- Описание страницы -->
        <meta name="description" content="" />

        <!-- Ключевые слова -->
        <meta name="keywords" content="" />

        <!-- Стили -->
        <link rel="stylesheet" href="{{ url_for('static', filename='admin/css/css-reset.css') }}" type="text/css" media="screen" >
        <link rel="stylesheet" href="{{ url_for('static', filename='admin/css/bootstrap.css') }}" type="text/css" media="screen" >
        <link rel="stylesheet" href="{{ url_for('static', filename='admin/css/bootstrap-datetimepicker.min.css') }}" type="text/css" media="screen" >
        <link rel="stylesheet" href="{{ url_for('static', filename='admin/css/bootstrap-datetimepicker2.min.css') }}" type="text/css" media="screen" >
        <link rel="stylesheet" href="{{ url_for('static', filename='admin/css/bootstrap-editable.css') }}" type="text/css" media="screen" >
        <link rel="stylesheet" href="{{ url_for('static', filename='admin/css/bootstrap-theme.css') }}" type="text/css" media="screen" >
        <link rel="stylesheet" href="{{ url_for('static', filename='admin/fonts/font-awesome-4.7.0/css/font-awesome.css') }}"  >

        <script type="text/javascript" src="{{ url_for('static', filename='admin/js/jquery-3.2.1.min.js') }}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

        <script type="text/javascript" src="{{ url_for('static', filename='admin/js/special.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='admin/js/moment-with-locales.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='admin/js/bootstrap.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='admin/js/bootstrap-formhelpers.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='admin/js/bootstrap-datetimepicker.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='admin/js/bootstrap-editable.min.js') }}"></script>

    </head>


    <body id = "main">

    <div id="page-preloader"><span class="spinner"></span></div>

        <nav class="navbar navbar-inverse" style="margin-bottom: 2px;">
            <div class="container" style="margin-left: initial; width:100%;">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Навигация</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/index" title="Единая Информационная Система Архива">ЕИСА</a>
              </div>
              <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class=""><a href="{{url_for('admin')}}">Главный экран</a></li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Администрирование
                        {% if  current_user.role.id == 1 %}
                            <i class="fa fa-unlock" aria-hidden="true"></i>
                        {% else %}
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        {% endif %}
                        <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{url_for('admin_users')}}"><span class="badge">{{ all_counters.get('user_count') }}</span> Пользователи</a></li>
                            <li><a href="{{url_for('admin_roles')}}"><span class="badge">{{ all_counters.get('role_count') }}</span> Роли </a></li>
                            <li><a href="{{url_for('admin_departments')}}"><span class="badge">{{ all_counters.get('department_count') }}</span> Отделы </a></li>
                            <li><a href="{{url_for('admin_posts')}}"><span class="badge">{{ all_counters.get('post_count') }}</span> Должности </a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#"><span class="badge">0</span> Новости отдела </a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Модули <i class="fa fa-keyboard-o" aria-hidden="true"></i> <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Модуль раз</a></li>
                            <li><a href="#">Модуль два</a></li>
                        </ul>
                    </li>
                    <li class=""><a href="{{url_for('logout')}}">Выйти</a></li>
                </ul>
              </div>
            </div>
        </nav>

        {% block content %}
        {% endblock %}

        <nav class="navbar navbar-inverse navbar-fixed-bottom" style="margin-bottom: 2px;">
            <div class="container" style="margin-left: initial; width:100%;">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Навигация</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand">Разработка: <a href="https://vk.com/goomba41">Бородавкин Антон</a> <i class="fa fa-copyright" aria-hidden="true"></i> 2017 - {{ today.split('-')[0] }}</span>
              </div>
                <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class=""><a href="">Помощь</a></li>
                </ul>
                </div>
            </div>
        </nav>

    </body>
    <script type="text/javascript" src="{{ url_for('static', filename='admin/js/loader.js') }}"></script>
</html>
