<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Заголовок -->
        <title>Администрирование</title>

        <!-- Иконка сайта -->
        <link rel="shortcut icon" href="{{ url_for('static', filename='admin/img/favicon.png') }}" type="image/x-icon"/>

        <!-- Описание страницы -->
        <meta name="description" content="" />

        <!-- Ключевые слова -->
        <meta name="keywords" content="" />

        <!-- Стили -->
        <link rel="stylesheet" href="{{ url_for('static', filename='admin/css/css-reset.css') }}" type="text/css" media="screen" >
        <link rel="stylesheet" href="{{ url_for('static', filename='admin/css/bootstrap.css') }}" type="text/css" media="screen" >
        <link rel="stylesheet" href="{{ url_for('static', filename='admin/css/bootstrap-datetimepicker.min.css') }}" type="text/css" media="screen" >
        <link rel="stylesheet" href="{{ url_for('static', filename='admin/css/bootstrap-editable.css') }}" type="text/css" media="screen" >
        <link rel="stylesheet" href="{{ url_for('static', filename='admin/css/bootstrap-theme.css') }}" type="text/css" media="screen" >
        <link rel="stylesheet" href="{{ url_for('static', filename='admin/fonts/font-awesome-4.7.0/css/font-awesome.css') }}"  >

        <script type="text/javascript" src="https://code.jquery.com/jquery-latest.js"></script>
<!--
        <script type="text/javascript" src="{{ url_for('static', filename='admin/js/jquery-3.2.1.min.js') }}"></script>
-->
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>


        <script type="text/javascript" src="{{ url_for('static', filename='admin/js/moment-with-locales.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='admin/js/bootstrap.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='admin/js/bootstrap-formhelpers.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='admin/js/bootstrap-datetimepicker.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='admin/js/bootstrap-editable.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='admin/js/ckeditor/ckeditor.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='admin/js/special.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='admin/js/highcharts/highcharts.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='admin/js/highcharts/modules/exporting.js') }}"></script>

    </head>


    <body id = "main">

    <div id="page-preloader"><span class="spinner"></span></div>

        <nav class="navbar navbar-inverse" style="margin-bottom: 0px;">
            <div class="container" style="margin-left: initial; width:100%;">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Навигация</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{url_for('index')}}" title="Единая Информационная Система Архива">ЕИСА</a>
              </div>
              <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class=""><a href="{{url_for('admin.admin')}}">Главный экран</a></li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Администрирование
                        <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{url_for('admin.admin_users')}}"><span class="badge">{{ all_counters.get('user_count') }}</span> Пользователи</a></li>
                            <li><a href="{{url_for('admin.admin_roles')}}"><span class="badge">{{ all_counters.get('role_count') }}</span> Роли </a></li>
                            <li><a href="{{url_for('admin.admin_departments')}}"><span class="badge">{{ all_counters.get('department_count') }}</span> Отделы </a></li>
                            <li><a href="{{url_for('admin.admin_posts')}}"><span class="badge">{{ all_counters.get('post_count') }}</span> Должности </a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{url_for('admin.admin_news')}}"><span class="badge">{{ all_counters.get('news_count') }}</span> Новости отдела </a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{url_for('admin.admin_news')}}"><i class="fa fa-hdd-o" aria-hidden="true"></i> Резервное копирование</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Модули <i class="fa fa-keyboard-o" aria-hidden="true"></i> <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('admin.admin') }}">Администрирование ЕИСА</a></li>
                            <li><a href="{{ url_for('kartoteka.kartoteka_main') }}">Картотека запросов</a></li>
                        </ul>
                    </li>
                    <li class=""><a href="{{url_for('login.logout')}}">Выйти</a></li>
                </ul>
              </div>
            </div>
        </nav>

        {% block content %}
        {% endblock %}

        <br style="clear: both;"/>
        <nav class="navbar navbar-inverse">
            <div class="container" style="margin-left: initial; width:100%;">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Навигация</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand">Разработка: <a href="https://vk.com/goomba41">Бородавкин Антон</a> <i class="fa fa-copyright" aria-hidden="true"></i> 2017 - {{ today.split('-')[0] }}</span>
              </div>
                <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class=""><a href="{{ url_for('admin.admin_appeals') }}" title="Форма для внесения пожеланий и предложений по улучшению информационной системы">
                    {% if current_user.post.name == "Программист" %}
                    {% if all_counters.get('appeals_count_new') %}
                        <i class="fa fa-exclamation-circle" style="color:red; font-size:1.3em;" aria-hidden="true"></i>
                    {% endif %}
                    <span class="badge btn-info">{{ all_counters.get('appeals_count_checked') }}</span> / <span class="badge btn-success">{{ all_counters.get('appeals_count_done') }}</span> / <span class="badge btn-primary">{{ all_counters.get('appeals_count_all') }}</span>
                    {% endif %} Обращения</a></li>
                    <li class=""><a href="">Помощь</a></li>
                </ul>
                </div>
            </div>
        </nav>

    </body>
    <script type="text/javascript" src="{{ url_for('static', filename='admin/js/loader.js') }}"></script>
    <script>
        var source = new EventSource("{{ url_for('sse.stream') }}");
        source.addEventListener('message', function(event) {
            var data = JSON.parse(event.data);
            if (data.author == {{ current_user.id }}) {
                alert(data.message);
            }
            console.log(event.data);
        }, false);
        //~ source.addEventListener('open', function(event) {
            //~ alert("Connection open");
            //~ console.log(event.data);
        //~ }, false);
        source.addEventListener('new', function(event) {
            var data = JSON.parse(event.data);
            if ( '{{ current_user.post.name }}' == 'Программист') {
            alert(data.message);
            console.log(event.data);
            }
        }, false);
        //~ source.addEventListener('birthday', function(event) {
            //~ var data = JSON.parse(event.data);
            //~ if (data.exclude != {{ current_user.id }}) {
                //~ alert(data.message);
            //~ }
            //~ console.log(event.data);
        //~ }, false);
        //~ source.addEventListener('error', function(event) {
            //~ alert("Failed to connect to event stream. Is Redis running?");
        //~ }, false);
    </script>
</html>
