{% extends "admin/base_admin.html" %}
{% block content %}

{% if session['logged_in'] %}
<div class="container mw-100 p-0" style="margin-top:3.95em;margin-bottom:4em;">
    <div class="col p-0">

        <div class="row-fluid">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#" title="Панель управления таблицей">Управление</span></a>

                <div class="collapse navbar-collapse" id="primary-nav">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        
                        <li class="nav-item active">
                            <a class="nav-link" href="{{url_for('admin.admin_news')}}"><i class="fa fa-list-ol" aria-hidden="true"></i>
 Список ({{ all_counters.get('news_count') }})</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{{url_for('admin.new_news')}}"><i class="fa fa-plus" aria-hidden="true"></i>
 Создать</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{{url_for('news', id = edit_news.id)}}"><i class="fa fa-fw fa-eye fa-control p-0" aria-hidden="true"></i>
 Смотреть</a>
                        </li>
                    </ul>
                    
                </div>

            </nav>
        </div>
        
        <form action="{{ url_for('API.update_news', news_id=edit_news.id)}}" id="edit" class="form-row p-3 m-auto"> 

            <div class="col-12">
                
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="header-addon">Заголовок новости</span>
                    </div>
                    <input maxlength="255" name="header" id="header" type="text" class="form-control" placeholder="Введите заголовок новости (не более 255 символов)" aria-label="header" aria-describedby="header-addon" required autofocus value="{{ edit_news.header }}">
                </div>
                
            </div>

            <div class="col-12">
                
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="imagesLabel">Изображения</span>
                    </div>
                    <div class="custom-file">
                        <input type="file" name="images" id="images" class="custom-file-input" id="imagesInput" aria-describedby="imagesLabel" multiple accept="image/*" lang="ru">
                        <label class="custom-file-label" for="images">Выберите файлы изображений для новости</label>
                    </div>
                </div>
            
            </div>

            <div class="col-12">
                <textarea name="text" id="myEditor" required>{{ edit_news.text }}</textarea>
            </div>
            
            {% if edit_news.images %}
            <div class="col-12 mt-3 mb-3">
                <div class="row m-0 flex-row flex-nowrap" style="overflow-x: scroll;">
                {% for image in edit_news.images %}
                    <div data-imgid="{{image.filename}}" data-url="{{ url_for('API.update_news_images', news_id=edit_news.id) }}" class="col-12 col-sm-6 col-md-4 col-lg-3 image-card">
                        <div class="card card-block m-2 bg-light" >
                            <div class="card-img-container" title="Скопировать ссылку для вставки по тексту">
                                <img class="card-img-top news-image-control" src="{{ image.filename|thumbnail('160x160', crop='fit', quality=100) }}" alt="Card image cap">
                                <div class="card-img-overlay link-copy-overlay" onclick="copy_origin_link('{{image.filename}}')">
                                    <i class="fa fa-link fa-3x fa-fw p-0" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row actions">
                                    <div class="col-6 p-0 delete">
                                        {% if not image.as_cover %}
                                        <button id="{{image.filename}}" title="Открепить изображение" type="button" class="float-left btn btn-sm btn-danger m-1 news-img-btn" data-action="delete"><i class="fa fa-fw p-0 fa-trash" aria-hidden="true"></i></button>
                                        {% endif %}
                                    </div>
                                    <div class="col-6 p-0 other">
                                        {% if not image.as_cover %}
                                            {% if image.in_gallery %}
                                            <button id="{{image.filename}}" title="Изображение находится в галерее" type="button" class="btn btn-sm btn-success m-1 float-right news-img-btn" data-action="in_gallery"><i class="fa fa-fw p-0 fa-picture-o" aria-hidden="true"></i></button>
                                            {% else %}
                                            <button id="{{image.filename}}" title="Вставить в галерею в новости" type="button" class="btn btn-sm btn-default m-1 float-right news-img-btn" data-action="in_gallery"><i class="fa fa-fw p-0 fa-picture-o" aria-hidden="true"></i></button>
                                            {% endif %}
                                        {% endif %}
                                        {% if image.as_cover %}
                                        <button id="{{image.filename}}" title="Отмечено как обложка" type="button" class="btn btn-sm btn-success m-1 float-right news-img-btn" data-action="as_cover"><i class="fa fa-fw p-0 fa-eye" aria-hidden="true"></i></button>
                                        {% else %}
                                        <button id="{{image.filename}}" title="Отметить как обложку" type="button" class="btn btn-sm btn-default m-1 float-right news-img-btn" data-action="as_cover"><i class="fa fa-fw p-0 fa-eye" aria-hidden="true"></i></button>
                                        {% endif %}
                                        {# <button id="{{image.filename}}" title="" type="button" class="btn btn-sm btn-default m-1 float-right news-img-btn" data-action=""><i class="fa fa-fw p-0 fa-sort" aria-hidden="true"></i></button> #}
                                    </div>

                                </div>
                                {% if not image.as_cover and image.in_gallery %}
                                <div class="row mt-3" data-action="gallery_title">
                                    <div class="input-group m-1">
                                        <input type="text" class="form-control" id="image-title-{{ image.filename }}" data-imgid="{{image.filename}}" aria-describedby="" placeholder="Заголовок" 
                                        {% if image.gallery_title %}
                                            value="{{ image.gallery_title }}"
                                        {% endif %}
                                        >
                                        <div class="input-group-append">
                                            <button id="{{image.filename}}" title="Сохранить" type="button" class="btn btn-success news-img-btn" data-action="gallery_title"><i class="fa fa-fw p-0 fa-floppy-o" aria-hidden="true"></i></button>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                

                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
            {% endif %}
            

            <div class="row-fluid p-3">
                <input type="submit" value="Сохранить" class="btn btn-lg btn-success" id="save">
                <input type="submit" value="Сохранить и добавить новую" class="btn btn-lg btn-primary" id="with_new">
                <input type="submit" value="Сохранить и продолжить" class="btn btn-lg btn-warning" id="with_reset">
                <a href="{{url_for('admin.admin_news')}}"><button type="button" class="btn btn-lg btn-danger">Отмена</button></a>
            </div>
        </form>
        
        
    </div>
</div>

<script>
    CKEDITOR.replace( 'text', {
        language: 'ru',
        height: 400,
        toolbar: [
                    [ 'Source', '-', 'Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo', '-', "Find", "Replace", "SelectAll", "Scayt"],
                        '/',
                    [ "Bold", "Italic", 'Underline', 'Strike', 'Subscript', 'Superscript', 'RemoveFormat', '-', 'NumberedList', 'BulletedList', "Outdent", "Indent", '-', "Blockquote", '-', "JustifyLeft", "JustifyCenter", "JustifyRight", "JustifyBlock", '-', "Link", "Unlink", "Anchor", '-', "CreatePlaceholder", "Image", "Table", "HorizontalRule", "Smiley", "SpecialChar", "Iframe", "InsertPre"],
        ],
        removePlugins: 'resize',
    });
</script>
<script>
    function copy_origin_link(image) {
         var dummyContent = '{{ url_for('static', filename="work/uploads/images/") }}'+image;
         var dummy = $('<input>').val(dummyContent).appendTo('body').select();
         document.execCommand('copy');
    }
</script>

{% endif %}

{% endblock %}
