{% extends "admin/base_admin.html" %}
{% block content %}

{% if session['logged_in'] %}
    <nav class="navbar navbar-default">
        <div class="container" style ="margin-right: initial; margin-left: initial;">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
              <span class="sr-only">Навигация</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Управление</a>
          </div>
          <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li class=""><a href="{{url_for('admin_users')}}">Список  <span class="badge">{{ all_counters.get('user_count') }}</span></a></li>
                <li><a href="{{url_for('new_user')}}">Создать</a></li>
                <li><a href="{{ url_for('admin_permissions') }}">Разрешения</a></li>
                <li><a href="{{ url_for('admin_history_all') }}">История действий</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">С выбранным<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" onclick="disable_rows()">Выключить</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a class="delete" onclick="delete_users()"  href="">Удалить</a></li>
                    </ul>
                </li>
            </ul>
          </div>
        </div>
    </nav>

    {% from "admin/_formhelpers.html" import flash_msg %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {{flash_msg(messages)}}
        {% endif %}
    {% endwith %}

    <script>
        var posts = [];
        var departments = [];
        var roles = [];
        $.ajax({
            type : "GET",
            url : "{{url_for('get_bootstap_editable')}}",
            contentType: 'application/json;charset=UTF-8',
            success: function(result) {
                $.each(result[0], function(k, v) {
                    posts.push({value: k, text: v});
                });
                $.each(result[1], function(k, v) {
                    departments.push({value: k, text: v});
                });
                $.each(result[2], function(k, v) {
                    roles.push({value: k, text: v});
                });
                console.log(roles);
            }
        });
    </script>

    <div class="admin_wrapper">
        <table class="table table-striped table-bordered table-hover model-list" >
            <tr>
                <th><input type="checkbox" name="rowtoggle" class="action-rowtoggle" title="Выделение всех записей" width="1%"></th>
                <th width="1%">Управление</th>
                <th width="1%">ID</th>
                <th width="1%">Роль</th>
                <th width="1%">Фотокарточка</th>
                <th width="1%">ФИО</th>
                <th width="1%">Логин</th>
                <th width="1%">Почта</th>
                <th width="1%">Телефон</th>
                <th width="1%">Последний вход</th>
                <th width="1%">Вкл</th>
                <th width="1%">Отдел</th>
                <th width="1%">Должность</th>
            </tr>
            {% for user in users_all.items %}
                <tr>
                    <td width="1%"><input type="checkbox" name="rowdelete" class="action-checkbox" value={{ user.id }} title="Выберите запись"></td>
                    <td>
                        <div class = "control">
                            <form action="" method="post" name="deluser">
                                {{form_delete.hidden_tag()}}
                                <div>
                                    <button class="btn-danger" type="submit" title="Удалить запись" onclick="return confirm('Точно?');"><i class="fa fa-trash fa-control"></i></button>
                                    {{form_delete.del_id(id="del-"+user.id|string,value=user.id, style = "display:none;")}}<br>
                                </div>
                            </form>
                            <div>
                                <a class = "edit" href="{{url_for('edit_user', id = user.id)}}"><button class="btn-primary" type="submit" title="Изменить запись"><i class="fa fa-pencil fa-control" aria-hidden="true"></i></button></a>
                            </div>
                        </div>
                        <br/>
                        <div class = "control">
                            <div>
                                <form method="post">
                                    <button onclick="password_reset({{ user.id }})" class="btn-warning"  title="Изменить запись">Забыл пароль</button>
                                </form>
                            </div>
                        </div>
                    </td>
                    <td>{{ user.id }}</td>
                    <td><a href="#" id="role{{ user.id }}" data-name="role" data-type="select" data-pk="{{ user.id }}" data-url="/post" data-title="Выберите должность из списка">{{ user.role.name }}</a></td>
                    <td>
                        <div class = "profile-photo">
                        {% if user.photo is none  %}
                            <img style = "width:100%;" src ="{{ url_for('static', filename='admin/img/anonymous.png') }}"  />
                        {% else %}
                            <img style = "width:100%;" src ="{{ url_for('static', filename='admin/upload/users/'+user.photo) }}"  />
                        {% endif %}
                        </div>
                    </td>
                    <td>{{ user.surname }}<br/>{{ user.name }}<br/>{{ user.patronymic }}</td>
                    <td>{{ user.login }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.phone }}</td>
                    <td>{{ user.last_login }}</td>
                    <td><a href="#" id="status{{ user.id }}" onclick="disable({{user.id}})" data-name="status" >
                        {% if  user.status == 1 %}
                        <i style="color:green; font-size:2em" class="fa fa-toggle-on" aria-hidden="true"></i>
                        {% else %}
                        <i style="color:red; font-size:2em" class="fa fa-toggle-off" aria-hidden="true"></i>
                        {% endif %}
                        </a>
                    </td>
                    <td><a href="#" id="department{{ user.id }}" data-name="department" data-type="select" data-pk="{{ user.id }}" data-url="/post" data-title="Выберите отдел из списка">{{ user.department.name }}</a></td>
                    <td><a href="#" id="post{{ user.id }}" data-name="post" data-type="select" data-pk="{{ user.id }}" data-url="/post" data-title="Выберите должность из списка">{{ user.post.name }}</a></td>
                    <script>
                        $('#post{{ user.id }}').editable({
                            source: posts,
                            success: function (e) {
                                location.reload();
                            }
                        });
                        $('#department{{ user.id }}').editable({
                            source: departments,
                            success: function (e) {
                                location.reload();
                            }
                        });
                        $('#role{{ user.id }}').editable({
                            source: roles,
                            success: function (e) {
                                location.reload();
                            }
                        });
                    </script>
                </tr>
            {% endfor %}
        </table>
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {{flash_msg(messages)}}
        {% endif %}
    {% endwith %}

    {{ pagination.links }}
    <br style="clear:both"/>
{% endif %}

{% endblock %}
