{% extends "admin/base_admin.html" %}
{% block content %}

{% if session['logged_in'] %}
{# 
    <nav class="navbar navbar-default">
        <div class="container" style ="margin-right: initial; margin-left: initial;">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
              <span class="sr-only">Навигация</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Управление</a>
          </div>
          <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li class=""><a href="{{url_for('admin.admin_posts')}}">Список  <span class="badge">{{ all_counters.get('post_count') }}</span></a></li>
                <li><a href="{{url_for('admin.new_post')}}">Создать</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">С выбранным<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a class="delete" onclick="delete_posts()"  href="">Удалить</a></li>
                    </ul>
                </li>
            </ul>
          </div>
        </div>
    </nav>
 #}

<div class="container mw-100 p-0" style="margin-top:3.95em;margin-bottom:4em;">
    <div class="col p-0">

        <div class="row-fluid">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#" title="Панель управления таблицей">Управление</span></a>

                <div class="collapse navbar-collapse" id="primary-nav">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        
                        <li class="nav-item active">
                            <a class="nav-link" href="{{url_for('admin.admin_posts')}}"><i class="fa fa-list-ol" aria-hidden="true"></i>
 Список ({{ all_counters.get('post_count') }})</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{{url_for('admin.new_post')}}"><i class="fa fa-plus" aria-hidden="true"></i>
 Создать</a>
                        </li>
                        <li class="nav-item active dropdown">
                            <a id="main-panel-dropdown-administration" href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-check-square-o" aria-hidden="true"></i>
 Выбранное</a>
                            
                            <div class="dropdown-menu" aria-labelledby="main-panel-dropdown-administration">
                                <a class="dropdown-item" onclick="delete_posts()" href="#"><i class="fa fa-trash-o" aria-hidden="true"></i>
 Удалить</a>
                            </div>
                        </li>
                        
                    </ul>
                    
                </div>

            </nav>
        </div>

    {% from "admin/_formhelpers.html" import flash_msg %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {{flash_msg(messages)}}
        {% endif %}
    {% endwith %}

    <div class="row-fluid p-3">
        <div class="col-1">
            <table class="table table-striped table-bordered table-hover model-list" >
                <tr>
                    <th><input type="checkbox" name="rowtoggle" class="action-rowtoggle" title="Выделение всех записей" width="1%"></th>
                    <th width="1%">Управление</th>
                    <th width="1%">ID</th>
                    <th width="1%">Название</th>
                </tr>
                {% for post in posts_all.items %}
                    <tr>
                        <td width="1%"><input type="checkbox" name="rowdelete" class="action-checkbox" value={{ post.id }} title="Выберите запись"></td>
                        <td>
                            <div class = "control">
                                <form action="" method="post" name="deluser">
                                    {{form_delete.hidden_tag()}}
                                    <div>
                                        <button class="btn btn-danger" type="submit" title="Удалить запись" onclick="return confirm('Точно?');"><i class="fa fa-trash fa-control p-0"></i></button>
                                        {{form_delete.del_id(id="del-"+post.id|string,value=post.id, style = "display:none;")}}<br>
                                    </div>
                                </form>
                            </div>
                            <br/>
                        </td>
                        <td>{{ post.id }}</td>
                        <td><a href="#" id="name{{ post.id }}" data-name="name" data-type="text" data-pk="{{ post.id }}" data-url="{{ url_for('admin.fast_post_edit') }}" data-title="Введите название">{{ post.name }}</a></td>
                        <script>
                            $('#name{{ post.id }}').editable({
                                success: function (e) {
                                    location.reload();
                                }
                            });
                        </script>
                    </tr>
                {% endfor %}
            </table>
            {{ pagination.links }}
        </div>
    </div>
    
    </div>
</div>


    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {{flash_msg(messages)}}
        {% endif %}
    {% endwith %}


{% endif %}

{% endblock %}
