{% extends "admin/base_admin.html" %}
{% block content %}

{% if session['logged_in'] %}

<div class="container mw-100 p-0" style="margin-top:3.95em;margin-bottom:4em;">
    <div class="col p-0">
        
        <div class="row-fluid">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#" title="Панель управления таблицей">Управление</span></a>

                <div class="collapse navbar-collapse" id="primary-nav">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        
                        <li class="nav-item active">
                            <a class="nav-link" href="{{url_for('admin.admin_users')}}"><i class="fa fa-list-ol" aria-hidden="true"></i>
 Список ({{ all_counters.get('user_count') }})</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{{url_for('admin.new_user')}}"><i class="fa fa-plus" aria-hidden="true"></i> Создать</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ url_for('admin.admin_permissions') }}"><i class="fa fa-id-card" aria-hidden="true"></i>
 Разрешения</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ url_for('admin.admin_history_all') }}"><i class="fa fa-history" aria-hidden="true"></i>
 История</a>
                        </li>
                    </ul>
                    
                </div>

            </nav>
        </div>

        <div class="row m-auto p-3">
            <div class="col-9">
                
                {{ pagination.links }}
                
                <table class="table table-striped table-bordered table-hover model-list" >
                    <tr>
                        <th>ID</th>
                        <th>Действие</th>
                        <th>Дата</th>
                    </tr>
                    {% for action in actions_all.items %}
                        <tr>
                            <td>{{ action.id }}</td>
                            <td>Пользователь <span class="label label-info">{{ action.user_parent.surname }} {{ action.user_parent.name }}</span> произвел <span class="label label-info">{{ action.action }}</span> в таблице <span class="label label-info">{{ action.table_parent.name }}</span> модуля <span class="label label-info">{{ action.table_parent.module_parent.name }}</span></td>
                            <td>{{ action.cdate }}</td>
                        </tr>
                    {% endfor %}
                </table>
                
                {{ pagination.links }}

            </div>
            <div class="col-3">
                <div id="frequently_table" ></div>
                <div id="frequently_operation" ></div>
                <div id="users_activity" ></div>
            </div>
        </div>
        
    </div>
</div>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {{flash_msg(messages)}}
        {% endif %}
    {% endwith %}

<script type="text/javascript">

    $(document).ready(function () {

        // Build the chart
        Highcharts.chart('frequently_table', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: 'Наиболее часто используемая таблица'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false
                    },
                    showInLegend: true
                }
            },
            series: [{
                name: 'Частота',
                colorByPoint: true,
                data: {{ response|safe }}
            }]
        });

        Highcharts.chart('frequently_operation', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: 'Наиболее часто выполняемая операция'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false
                    },
                    showInLegend: true
                }
            },
            series: [{
                name: 'Частота',
                colorByPoint: true,
                data: {{ response2|safe }}
            }]
        });

        Highcharts.chart('users_activity', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: 'Наиболее активные пользователи'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false
                    },
                    showInLegend: true
                }
            },
            series: [{
                name: 'Частота',
                colorByPoint: true,
                data: {{ response3|safe }}
            }]
        });
    });
</script>

{% endif %}

{% endblock %}
