{% extends "admin/base_admin.html" %}
{% block content %}

{% if session['logged_in'] %}

{% set count = count_of_expired() %}

<div class="container mw-100 p-0" style="margin-top:3.95em;margin-bottom:4em;">
    <div class="col p-0">
        
        <div class="row-fluid">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#" title="Панель управления таблицей">Управление</span></a>

                <div class="collapse navbar-collapse" id="primary-nav">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        
                        <li class="nav-item active">
                            <a class="nav-link" title="" href="{{url_for('inventory.inventory_main')}}"><i class="fa fa-list-ol" aria-hidden="true"></i> Список</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" title="" href="{{url_for('inventory.new_items')}}"><i class="fa fa-plus" aria-hidden="true"></i>
 Создать</a>
                        </li>
                        <li class="nav-item active dropdown">
                            <a id="main-panel-dropdown-administration" href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-check-square-o" aria-hidden="true"></i>
 Выбранное</a>
                            
                            <div class="dropdown-menu" aria-labelledby="main-panel-dropdown-administration">
                                <a class="dropdown-item delete" onclick="delete_items()" href="#"><i class="fa fa-trash-o fa-fw fa-control p-0" aria-hidden="true"></i> Удалить</a>
                                <a class="dropdown-item delete" onclick="" href="#"><i class="fa fa-print fa-fw fa-control p-0" aria-hidden="true"></i> Печать QR-кодов</a>
                            </div>
                        </li>
                        {# 
                        <li class="nav-item active">
                            <a class="nav-link" title="" href=""><i class="fa fa-users" aria-hidden="true"></i>
 Исполнители</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" title="" href=""><i class="fa fa-line-chart" aria-hidden="true"></i>
 Статистика</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" title="" href=""><i class="fa fa-search" aria-hidden="true"></i>
 Поиск</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" title="" href=""><i class="fa fa-download" aria-hidden="true"></i>
 Скачать CSV</a>
                        </li>
                        #}
                    </ul>
                    
                </div>

            </nav>
        </div>
        
            <div class="row p-3 m-auto align-items-center">
                <div class="col-6">
                {{ pagination.links }}
                </div>
                <div class="col-6">
                    <div class="alert alert-{{ count[2] }}" role="alert">
                        Объектов с истекшим сроком проверки: {{ count[0] }} ({{ count[1] }} %)
                        {% if count[1] > 80 %}
                            <br><b style="text-transform:uppercase">Необходима инвентаризация!</b>
                        {% endif %}
                    </div>
                </div>
            </div>      

            <div class="row p-3 m-auto align-items-center">
                <table class="table table-striped table-bordered table-hover table-responsive model-list text-center" >
                    <tr>
                        <th><input type="checkbox" name="rowtoggle" class="action-rowtoggle" title="Выделение всех записей" ></th>
                        <th width="11%">Действия над записью</th>
                        <th >ИНВ. №</th>
                        <th >СЕР. №</th>
                        <th >Наименование</th>
                        <th width="11%">Внесен</th>
                        <th width="11%">Проверка</th>
                        <th >Статус</th>
                        <th >Ответственный</th>
                        <th >Пользователь</th>
                        {# <th >Расположение</th>
                        <th >Передвижения</th> #}
                    </tr>
                    {% if items %}
                        {% for item in items %}
                                <tr>
                                    <td><input type="checkbox" name="rowdelete" class="action-checkbox" value={{ item.id }} title="Выберите запись"></td>
                                    <td>    
                                            <div class="row">
                                                    <div class = "col p-1 control">
                                                             <a class = "edit" href=" {{url_for('inventory.edit_items', id = item.id)}} "><button class="btn btn-primary mb-1" type="submit" title="Изменить запись"><i class="fa fa-fw fa-pencil fa-control p-0" aria-hidden="true"></i></button></a>
                                                             <button class="btn btn-danger mb-1" type="button" title="Удалить запись" onclick="delete_items({{ item.id }})"><i class="fa fa-fw fa-trash fa-control p-0"></i></button> 
                                                    </div>
                                                    <div class = "col p-1 info" data-url="{{ url_for('API.get_one_inventory_item', id=item.id ) }}">
                                                            <button class="btn btn-info mb-1" data-type="placing" type="submit" title="Местоположение объекта" data-toggle="modal" data-target="#info"><i class="fa fa-fw fa-compass fa-control p-0" aria-hidden="true"></i></button>
                                                            <button class="btn btn-info mb-1" data-type="movements" type="submit" title="Перемещения объекта" data-toggle="modal" data-target="#info"><i class="fa fa-fw fa-arrows fa-control p-0" aria-hidden="true"></i></button>
                                                    </div>
                                                    <div class = "col p-1 qr" data-url="{{ url_for('API.qr_inventory_item', id=item.id ) }}">
                                                            <button class="btn btn-warning mb-1" data-type="qr" type="submit" title="Сгенерировать QR-код для объекта" data-toggle="modal" data-target="#info"><i class="fa fa-fw fa-qrcode fa-control p-0" aria-hidden="true"></i></button>
                                                    </div>
                                            </div>
                                                                            
                                    </td>
                                    <td>{{ item.number }}</td>
                                    <td>
                                            {% if item.serial is not none %}
                                                    {{ item.serial }}
                                            {% else %}
                                            &mdash;
                                            {% endif %}
                                    </td>
                                    <td>{{ item.name }}</td>
                                    <td>{{ item.cdate|datetime('medium') }}</td>
                                    <td>
                                        {% if item.chdate %}
                                            <span title="{{ item.chdate|datetime('full') }}">{{ item.chdate|datetime('since') }}</span>
                                        {% else %}
                                            Не проверялся
                                        {% endif %}
                                    </td>
                                    <td>
                                    {% if item.status == 1 %}
                                    <i class="fa fa-ban fa-control fa-fw p-0" style="color:red">
                                    {% elif item.status == 2 %}
                                    <i class="fa fa-check-circle fa-control fa-fw p-0" style="color:{{ item.chdate|expiration(period='month', number=3) }}">
                                    {% else %}
                                    <i class="fa fa-ban fa-control fa-fw p-0" style="color:red">
                                    {% endif %}
                                    </td>
                                    <td>
                                            {% if item.item_responsible is not none %}
                                                    {{ item.item_responsible.surname }} {{ item.item_responsible.name[:1] }}.{{ item.item_responsible.patronymic[:1] }}.
                                            {% else %}
                                            &mdash;
                                            {% endif %}
                                    </td>
                                    <td>
                                            {% if item.item_employee is not none %}
                                                    {{ item.item_employee.surname }} {{ item.item_employee.name[:1] }}.{{ item.item_employee.patronymic[:1] }}.
                                            {% else %}
                                            &mdash;
                                            {% endif %}
                                    </td>
                                </tr>
                        {% endfor %}
                    {% else %}
                        <tr><td colspan="11">Нет данных</td></tr>
                    {% endif %}

                </table>
            </div>
            
            <div class="row p-3 m-auto align-items-center">
                <div class="col-6">
                {{ pagination.links }}
                </div>
                <div class="col-6">
                    <div class="alert alert-{{ count[2] }}" role="alert">
                        Объектов с истекшим сроком проверки: {{ count[0] }} ({{ count[1] }} %)
                        {% if count[1] > 80 %}
                            <br><b style="text-transform:uppercase">Необходима инвентаризация!</b>
                        {% endif %}
                    </div>
                </div>
            </div>
            
            <div class="modal fade" id="info">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">

                        <div class="modal-header">
                          <h4 class="modal-title">Информация об объектe</h4>
                        </div>

                        <div class="modal-body">
                        </div>

                        <div class="modal-footer">
                          <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-fw fa-times fa-control p-0" aria-hidden="true"></i></button>
                        </div>

                    </div>
                </div>
            </div>
            
            
        </div>
    
    </div>
</div>

{% endif %}

{% endblock %}
